/**
* Footer Section
* @class Footer
* @module base.css
*/
.fot-decor
	background url(routImg+"icon-layout.png") 0 0 repeat-x
	height 60px
	min-width 980px
footer
	background #5E7180
	min-width 980px
	padding-top 40px
	position relative
	h3,h4
		color #FFF
		font-size 16px
	h4
		border-bottom 1px solid #CCC
		font-weight 700
		line-height 22px
.turb-foot
	color #FFF
	margin-left 24px
	span
		background-position fotTurbFoot
.fot-list
	li
		margin-top 2px
		&:first-child
			margin 0
	a
		background url(routImg+"icon-layout.png") fotlistArr no-repeat
		color #FFF
		padding-left 9px
		font 12px family1
		text-decoration underline
		&:hover
			color #C8C4B6
			background url(routImg+"icon-layout.png") fotlistArrHover no-repeat
/* Banners Footers */
.fot-banner
	background #FFF
	border-radius 8px
	margin-bottom 30px
	padding 12px 12px 16px
	position relative
	p
		line-height 16px
	.fban-decor
		background-image url(routImg+"icon-layout.png")
		background-repeat no-repeat
		bottom 0
		position absolute
		right 0
		z-index 1
.cntrlHelp
	p
		font-size 12px
		margin-bottom 12px
		text-align center
		width 126px
	li
		background url(routImg+"icon-layout.png") fotlistGreenArr no-repeat
		padding-left 7px
		a
			color #72A431
			font-size 11px
			line-height 16px
	.btn-urb
		left 13px
		margin 0 0 12px
		position relative
	.fban-decor
		background-position fotCntrlHelp
		height 156px
		width 107px
.vregions
	p
		color #333
		font-size 13px
		margin-bottom 10px
		text-align right
	span
		color #8BC53F
		font-size 16px
		font-weight 700
	.fban-decor
		background-position fotVregions
		height 105px
		left 5px
		width 110px
	.sel-middle
		font-size 12px
		height 24px
		line-height 24px
		padding 2px
.qdigital
	p
		color #333
		font-size 13px
		margin-bottom 10px
	span
		color #8BC53F
		font-size 16px
		font-weight 700
	.fban-decor
		background-position fotQdigital
		height 95px
		width 124px
.fot-quiosco
	background url(routImg+"icon-layout.png") fotQuiosco no-repeat
	display block
	height 25px
	margin-bottom 12px
	width 155px	
/* Fin de Banner Footers */
.fot-social
	background url(routImg+"icon-layout.png") fotSocialFb
	display inline-block
	*display inline
	height 24px
	margin-left 18px
	vertical-align top
	*zoom 1
	&:first-child
		margin-left 8px
	&.fb
		width 12px
	&.twt
		background-position fotSocialTwt
		width 16px
	&.glg
		background-position fotSocialGlg
		width 24px
	&.ytb
		background-position fotSocialYtb
		width 25px
.fot-nav
	padding-bottom 30px
	.nav-line
		background #FFF
		float left
		height 2px
		margin-top 8px
		width 530px
	.navs
		float right
		width 158px
		span
			color #FFF
			float left
			font-size 12px
			line-height 17px
	a
		background url(routImg+"icon-layout.png") fotnavArr
		float left
		height 18px
		margin-left 10px
		width 18px
	.nav-next
		background-position fotnavArrnext
		margin-left 5px
.content-paid
	background #46545F
	color #FFF
	padding 22px 0
	span
		float left
		font-size 16px
		padding 3px 0 0 124px
	p
		font-size 11px
		margin 0
		padding-top 12px
		text-align center
.paids
	background url(routImg+"icon-layout.png") fotPaidsPe
	float left
	height 31px
	margin-left 16px
	&.pefectivo
		width 70px
	&.visa
		background-position fotPaidsVisa
		width 67px
	&.master
		background-position fotPaidsMaster
		width 46px
	&.vbvisa
		background-position fotPaidsVbvisa
		width 56px
	&.smaster
		background-position fotPaidsSmaster
		width 72px
	&.afvisa
		background-position fotPaidsAfvisa
		width 65px
.copyright
	color #FFF
	font-size 11px
	line-height 21px
	padding 16px 0
	p
		margin 0
		float left
		span
			font-family family3
	a
		color #FFF
		text-decoration underline
		&:hover
			opacity 0.85
	ul
		float left
		margin-left 145px
	li
		float left
		margin-left 16px
		&:first-child
			margin 0
.book-claims
	float right
	padding 1px 0 1px 58px
	position relative
	span
		background url(routImg+"icon-layout.png") fotBookClaims
		height 21px
		left 0
		position absolute
		top 0
		width 50px
.see-also
	font-family family3
	padding 4px 0 10px
	span
		color #666
		float left
		font-size 11px
		font-weight 700
		padding 6px 0 0 56px
	ul
		float right
		width 791px
	li
		border-left 1px solid #5F8526
		float left
		font-size 11px
		margin-top 6px
		padding 0 5px
		&:first-child
			border none
	a
		color #5F8526