/**
* Portada Section
* @class Portada
* @module portada.css
*/
.search-menu
	left -20px
	position absolute
	top -10px
	width 188px
	z-index 1
	li
		position absolute
		z-index 3
		&.btn2
			margin-top 65px
			z-index 2
		&.btn3
			margin-top 129px
			z-index 1
		a
			background #fff
			border-radius 0 0 6px 6px
			box-shadow 0 2px 3px #818080
			color #666
			float left
			height 50px
			padding 18px 5px 0 10px
			width 145px
			&:first-child
				border-radius 6px
			&:hover
				color #608828
				float left
				text-decoration none
				width 145px
			&.act
				background url(routImg+"icon-portada.png") homeBghoverMenu no-repeat
				border-radius 0
				box-shadow none
				color #fff
				height 55px
				text-decoration none
				width 171px
.bigtext
	font-size 20px
	line-height 25px
.search-optionstourist
	background #00ABA9
	border-radius 10px
	padding 10px
	.srch-admkinds
		margin 10px 0 10px 20px
		width 640px
	.poption
		&:first-child
			padding-left 20px
	.input-search
		margin-bottom 0
.srch-details
	float left
	margin-bottom 10px
	position relative
	width 490px
	&.last
		margin-bottom 0
	.controls
		float left
		margin-left 10px
		&:first-child
			margin-left 0
.tourist-options
	padding-bottom 7px
	span
		background url(routImg+"icon-portada.png") no-repeat
		float left
		height 24px
		margin-right 8px
		width 24px
		&.all
			background-position icoSrchTourist
		&.traveler
			background-position icoSrchTraveler
		&.student
			background-position icoSrchStudent
		&.backpackers
			background-position icoSrchBackpackers
		&.business
			background-position icoSrchBusiness
		&.families
			background-position icoSrchFamilies
	li
		float left
		line-height 26px
		margin 0 0 10px 10px
		padding-left 7px
		width 140px
		&:nth-child(3n+1)
			margin-left 0
	input[type="checkbox"]
		float left
		margin 6px 8px 0 0
.search-options
	background #75A732
	border-radius 10px
	height 229px
	padding 10px 10px 10px 150px
	position relative
	margin 10px 0 0 20px
	width 520px
	&.beach
		background #1BA1E2
.srch-filter
	border-right 1px solid #fff
	float left
	margin-left 10px
	padding-top 13px
	width 180px
	li
		padding-bottom 13px
#frmSearch
	.vglass
		background url(routImg+"icon-layout.png") IconVglass no-repeat
		height 20px
		left 5px
		position absolute
		top 9px
		width 21px
	.varrow
		background url(routImg+"icon-layout.png") IconVarrow no-repeat
		height 20px
		right 9px
		position absolute
		top 9px
		width 14px
	.vcalendar
		background url(routImg+"icon-publicacion.png") actionIconCalendar no-repeat
		height 21px
		left 10px
		position absolute
		top 6px
		width 19px
	input[type="text"]
		height 24px
		line-height 24px
	.iopinline
		margin-bottom 20px
		.ioption
			width 100px
			&:first-child
				padding-left 0
				width 120px
.srch-admkinds
	margin 20px 0 0 20px
	width 492px
	.input-small
		width 108px
	.input-search
		padding-left 30px
		width 450px
	.input-kind
		width 154px
	.controls-inline
		margin-bottom 20px
		.controls
			margin-left 10px
			&:first-child
				margin-left 0
	label
		color #fff
.srch-adm
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	.grids-4
		margin-top 15px
	input[type="text"]
		font-family family1
		font-size 14px
		padding 5px 0 5px 10px
		width 290px
		&.lft
			padding-left 30px
			width 270px
	.controls
		margin-bottom 15px
		position relative
.ioption-sch
	color #fff
	font-size 12px
	line-height 14px
	input[type="radio"],[type="checkbox"]
		float left
		margin 1px 6px 0
.input-search
	margin-bottom 15px
	width 280px
.type-rent
	margin 10px 0 0 20px
	li
		border-radius 10px
		box-shadow 0 1px 3px #b9b8b8
		float left
		margin-left 10px
		width 220px
		&:first-child
			margin-left 0
	a
		color #fff
		font-size 16px
		line-height 28px
		display block
		padding 10px 0
		&:hover
			text-decoration none
.bg-beach
	background #1BA1E1
	transition background 0.3s ease-in-out
	&:hover
		background #51bbed
.bg-land
	background-color #82592B
	transition background 0.3s ease-in-out
	&:hover
		background-color #9d6423
.bg-tourist
	background-color #00ABA9
	transition background 0.3s ease-in-out
	&:hover
		background-color #0fd1cf
.icon-beach,.icon-land,.icon-tourist
	transition left 0.3s ease
	position relative
.text-beach,.text-land,.text-tourist
	transition right 0.3s ease
	position relative
.srchs
	margin 10px 0 30px
.itm
	background url(routImg+"icon-portada.png") no-repeat
	float left
	height 29px
	margin 0 15px
	width 32px
	&.beach
		background-position homeItmBeach
	&.land
		background-position homeItmLand
		width 35px
	&.tourist
		background-position homeItmTourist
.baner-side
	background #fff
	background -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1))
	background -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%)
	background -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%)
	background -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%)
	background linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%)
	border 1px solid #ccc
	border-radius 10px
	padding 5px 10px 10px
	position relative
	margin-bottom 15px
	&:last-child
		margin-bottom 0
	&.yellow
		background #ffffff
		background -moz-linear-gradient(top, #ffffff 0%, #f3f1e5 50%, #f0eddd 100%)
		background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f1e5), color-stop(100%,#f0eddd))
		background -webkit-linear-gradient(top, #ffffff 0%,#f3f1e5 50%,#f0eddd 100%)
		background -o-linear-gradient(top, #ffffff 0%,#f3f1e5 50%,#f0eddd 100%)
		background -ms-linear-gradient(top, #ffffff 0%,#f3f1e5 50%,#f0eddd 100%)
		background linear-gradient(to bottom, #ffffff 0%,#f3f1e5 50%,#f0eddd 100%)
		height 113px
#publica
	cursor pointer
.baner-detail
	position absolute
	right 0
	top 10px
	width 140px
	z-index 1
	h3
		color #282828
		font 12px/13px family3
		margin 0 10px 20px 0
		text-align right
		span
			font-size 16px
			font-weight 700
			line-height 17px
		&.verde
			color #608828
		&.padn
			font 14px/16px family3
			padding 10px 0	
	&.anuncia
		h3
			font-size 16px
			line-height 18px
			margin-top 15px
			span
				font-size 20px
				font-weight 700		
.icon-playa
	background url(routImg+"icon-portada.png") homeIconPlaya no-repeat
	height 114px
	width 115px
.icon-house
	background url(routImg+"icon-portada.png") homeIconHouse no-repeat
	height 80px
	margin 5px 0 10px -8px
	width 129px
.icon-campo
	background url(routImg+"icon-portada.png") homeIconCampo no-repeat
	height 83px
	margin-left -8px
	width 130px
.icon-turista
	background url(routImg+"icon-portada.png") homeIconTurista no-repeat
	height 94px
	margin-top 5px
	width 100px
.suscri-form
	p
		color #59595F
		font 12px/13px family3
		margin 5px 0 10px
	span
		color #262626
		font-size 14px
		font-weight 700
	input
		font 12px/16px family3
		height 16px
		width 180px
	.control
		margin-top 5px
.urbhouse-icon
	background url(routImg+"icon-portada.png") houseIconSuscribir no-repeat #ECECFB
	border 3px solid #fff
	border-radius 4px
	box-shadow 0 1px 2px #333
	height 42px
	margin 12px auto 0
	padding 1px
	width 46px
.box-suscribe
	padding-top 39px
	position relative
#card
	transform-style preserve-3d
	-webkit-transform-style preserve-3d
	-moz-transform-style preserve-3d
	perspective 1000px
	-webkit-perspective 1000px
	-moz-perspective 1000px
	width 222px
	height 127px
	position relative
	.back
		background #fff
		border-radius 10px
		border 1px solid #d3d5d5
		box-shadow inset 0px 0px 20px #ccc
		overflow hidden
		text-align center
		transform rotateY(180deg)
		p
			color #59595F
			font 12px/13px family3
			margin 10px 0 0
			text-align center
		span
			color #74A632
			font-size 14px
			font-weight 700
.front, .back
	position absolute
	backface-visibility hidden
	-webkit-backface-visibility hidden
	-moz-backface-visibility hidden
	transition transform 500ms ease
	-webkit-transition -webkit-transform 500ms ease
	-moz-transition -moz-transform 500ms ease
	width 100%
	height 100%
#flipCard.startAction .back
	transform rotateY(0deg)
#flipCard.startAction .front
	transform rotateY(-180deg)
.ico-mail
	background url(routImg+"icon-portada.png") homeIconMail no-repeat
	height 76px
	position absolute
	right 0
	top -39px
	width 99px
	z-index 10
	transition all 250ms ease
.baner
	margin 0
.turb-gen
	color #333
	font-size 24px
	margin-left 24px
	&.fnt20
		font-size 20px
	span
		background-position homeIconRed
		&.beach
			background url(routImg+"icon-portada.png") homeIconBeach no-repeat
		&.land
			background url(routImg+"icon-portada.png") homeIconLand no-repeat
		&.tourist
			background url(routImg+"icon-portada.png") homeIconTourist no-repeat
.property-tab
	.urb-ads
		height 200px
		float left
		margin-left 20px
		width 218px
		&:first-child
			margin 0
		.proy-title
			margin-left 10px
			width 205px
			h2
				color #5F8626
				font 14px /15px family1
				margin-bottom 6px
.slide-pagesads
	height 262px
	overflow hidden
	position relative
	.urb-ads
		float left
		margin-left 20px
		&:first-child
			margin-left 0
.slide-ads
	height 202px
	overflow hidden
	position relative
.content-proy
	position relative
	img
		height 124px
		width 218px
.home-proy
	height 169px
	position relative
	img
		height 169px
		width 298px
.price-proy
	bottom 0
	left 0
	position absolute
	z-index 10
.bg-price
	background #f04d51
	background unquote("url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwNGQ1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYjEwMTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)")
	background -moz-linear-gradient(top,  #f04d51 0%, #ab1014 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f04d51), color-stop(100%,#ab1014))
	background -webkit-linear-gradient(top,  #f04d51 0%,#ab1014 100%)
	background -o-linear-gradient(top,  #f04d51 0%,#ab1014 100%)
	background -ms-linear-gradient(top,  #f04d51 0%,#ab1014 100%)
	background linear-gradient(to bottom,  #f04d51 0%,#ab1014 100%)
	color #fff
	float left
	font-size 10px
	height 30px
	padding 5px 0 5px 10px
	span
		display block
		font-size 16px
		line-height 17px
.bg-triangle
	background url(routImg+"icon-portada.png") homeIconBgTriangle no-repeat
	float left
	height 40px
	width 13px
.company-proy
	float left
	margin-right 10px
	width 110px
.urb-ads
	background #fff
	border 1px solid #ececec
	height 248px
	transition box-shadow 120ms ease-in
	width 298px
	&:hover
		box-shadow 0 2px 5px #d6d5d5
.proy-title
	margin 10px 10px 0
	h2
		color #5F8626
		font 16px /17px family1
		margin-bottom 6px
	p
		color #666
		margin 0
	img
		margin -16px 0 0 120px
		position absolute
		z-index 10
	&.flt
		float left
		margin 10px 0 0
		width 170px
.pst-left
	float left
.pst-right
	color #666
	float right
.lt-ads
	border 1px solid #ececec
	float left
	height 100px
	margin 0  0 10px 15px
	text-align center
	transition box-shadow 120ms ease-in
	width 140px
	&:nth-child(2n+1)
		margin-left 0
	&:hover
		box-shadow 0 2px 5px #d6d5d5
	img
		height 100px
.land-sell
	background #1780FF
	color #fff
	display block
	font-size 16px
	height 82px
	line-height 17px
	padding-top 20px
	transition all 0.3s ease-in-out
	&:hover
		background #4196fe
	&.little
		height 45px
		padding-top 10px
		.ico-sell
			background url(routImg+"icon-portada.png") homeIconSell2 no-repeat
			height 36px
			width 46px
		.text-sell
			font-size 12px
			line-height 14px
			margin-top 5px
.ico-sell
	background url(routImg+"icon-portada.png") homeIconSell no-repeat
	display inline-block
	height 64px
	margin 0 20px 0 27px
	vertical-align top
	width 82px
	*display inline
	*zoom 1
.text-sell
	display inline-block
	margin-top 15px
	vertical-align top
	*display inline
	*zoom 1
.tall
	&.calculator-box
		h3
			padding 7px 0 17px
	.calculator-foot
		margin-top 12px
.calculator-box
	background #E0941A
	padding-top 10px
	margin-bottom 10px
	h3
		color #fff
		font 14px/30px family1
		margin 0
		padding-bottom 10px
		&.little
			font 12px/15px family1
		span
			background url(routImg+"icon-portada.png") homeIconCalculator no-repeat
			float left
			height 30px
			margin 0 12px 0 20px
			width 27px
.ctrl-box
	display inline-block
	margin 0 0 10px 10px
	vertical-align top
	*display inline
	*zoom 1	
	&.ml60
		margin-left 60px
	.controls
		float left
		input
			background #fff
			border 1px solid #fff
			box-shadow none
			font-size 12px
			height 24px
			line-height 24px
			padding 0 7px
			width 95px
	.ctrl-label
		color #fff
		float left
		font-size 10px
		line-height 15px
		width 95px
		&.l20
			font-size 12px
			line-height 25px
			width 20px
		input
			width 77px
	&.little
		.chk-label
			font-size 10px
			margin-left 5px
			&:first-child
				margin-left 0
.chk-label
	color #fff
	float left
	font-size 11px
	line-height 15px
	margin-left 15px
	&:first-child
		margin-left 35px
	input[type="checkbox"]
		float left
		margin-right 2px
		width 20px
.help-ctrl
	color #fff
	display inline-block
	font-size 10px
	line-height 12px
	margin-left 15px
	vertical-align top
	&.full
		display block
		margin 10px
		text-align center
.calculator-foot
	background #333
	color #fff
	padding 5px 0 8px 10px
	span
		float left
		line-height 12px
		padding-top 7px
		&.little
			font-size 9px
			line-height 9px
			padding-top 4px
.urb-logo
	background url(routImg+"icon-portada.png") homeIconUrbLogo no-repeat
	float left
	height 13px
	margin-left 10px
	width 86px
	&.little
		background url(routImg+"icon-portada.png") homeIconUrbLogo2 no-repeat
		height 14px
		margin-left 2px
		width 60px
.scroll-adv
	margin-top 30px
.blog-tit
	border-bottom 1px solid #ccc
	font 700 28px/40px family2
	margin-bottom 18px
	&.less
		line-height 28px
	span
		background url(routImg+"icon-portada.png") homeIconCasaymas no-repeat
		float left
		height 40px
		margin-right 10px
		width 213px
		&.little
			background-position homeIconCasaymasch
			height 28px
			width 149px
.blog
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	.grids-4:nth-child(2n+1)
		margin 0
.box-infoblog
	background #fff
	border 1px solid #ececec
	height 93px
	margin-bottom 10px
	padding 10px
	h2
		color #5F8626
		font 400 16px/17px family1
		margin-bottom 10px
	p
		color #333
		line-height 15px
		margin-bottom 2px
.box-imgblog
	background #fff
	border 1px solid #ececec
	height 238px
	margin-bottom 10px
	h2
		color #5F8626
		font 400 20px/21px family1
		margin-bottom 0
		padding 15px 10px 0 10px
.box-vinfoblog
	background #fff
	border 1px solid #ececec
	float left
	height 238px
	margin-left 6px
	width 145px
	&:first-child
		margin-left 0
	h2
		color #5F8626
		font 400 16px/17px family1
		margin 8px 10px 10px
		a
			margin-left 0
	p
		color #333
		line-height 15px
		margin 0 10px 2px
	a
		display block
		margin-left 10px
	.blog-imgch
		a
			margin-left 0
.by-buscamas
	color #666
	float right
	font-size 11px
	line-height 18px
	a
		background url(routImg+"icon-layout.png") homeIconBuscamas no-repeat
		float right
		height 18px
		margin-left 7px
		width 78px
.redesUrb
	color #333
	font-size 20px
	margin-left 24px
	margin-bottom 10px
.newsadm
	margin 30px 0
/**
* Inmueble Section
* @class Inmueble
* @module inmueble.css
*/
.toolbar-fixed	
	opacity 0
	top -95px
	transition opacity 0.15s ease-in, top 0.25s ease-in-out
.toolbar-show
	opacity 1
	top 0
	transition opacity 0.15s ease-in, top 0.25s ease-in-out
#property_bar
	background #fafbfe
	background unquote("url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmJmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUzZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)")
	background -moz-linear-gradient(top,  #fafbfe 0%, #e2e3e5 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfe), color-stop(100%,#e2e3e5))
	background -webkit-linear-gradient(top,  #fafbfe 0%,#e2e3e5 100%)
	background -o-linear-gradient(top,  #fafbfe 0%,#e2e3e5 100%)
	background -ms-linear-gradient(top,  #fafbfe 0%,#e2e3e5 100%)
	background linear-gradient(to bottom,  #fafbfe 0%,#e2e3e5 100%)
	border-top 1px solid #E0E0E0
	box-shadow 0px 2px 4px #999
	height 90px
	left 0
	position fixed
	width 100%
	z-index 200
	.box-center
		padding-top 20px
.head-prop-logo
	float left
	height 44px
	margin-right 20px
	width 140px
	a
		background url(routImg+"icon-portada.png") inmuebleIconHeadLogo no-repeat
		display block
		font-size 0
		height 44px
		width 140px
		*text-indent -9999px
.headprop-price
	float left
	line-height 16px
	margin-top 7px
	width 170px
	span
		font-size 16px
		font-weight 700
		line-height 17px
.headprop-detail
	float left
	margin-top 3px
	padding-right 10px
	width 450px
	h2
		font 400 16px/17px family1
		color #000
		margin-bottom 0
	p
		color #666
		line-height 13px
		margin-bottom 0
.headprop-links
	float left
	margin-left 5px
	width 145px
	.share-iconsProperty
		margin-left 8px
	.btn-urb
		font-size 12px
		font-weight 400
		line-height 13px
		margin-top 7px
		padding 4px 0
		text-align center
		width 145px
.breadcrumb
	margin-bottom 20px
	a
		margin 0 10px
		&:first-child
			margin-left 0
		&.act
			color #000
.positrelat
	position relative
.property-expired
	background url(routImg+"transparent.png")
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 50
.img-expired
	background url(routImg+"expired.png") no-repeat
	display block
	height 324px
	margin 140px 0 0 -14px
	width 728px
.head-property
	padding-bottom 14px
	width 100%
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	p
		color #666
		float left
		line-height 14px
		padding 3px 25px 5px 0
		margin-bottom 0
.tit-head-property
	background #F2F3F5
	display table
	height 100%
	margin-bottom 5px
	width 100%
	h2
		color #000
		display table-cell
		font 400 18px/19px family1
		margin-bottom 8px
		padding 10px
		position relative
		vertical-align middle
		width 510px
.tit-type
	background #00ABA9
	color #fff
	display table-cell
	vertical-align middle
	position relative
	font-size 16px
	line-height 18px
	text-align center
	vertical-align middle
	width 80px
	&.beach
		background #1BA1E1
	&.land
		background #82592B
	&.default
		background #8BC53F
.rate-boxes
	display table-cell
	vertical-align middle
	position relative
	width 325px
	li
		float left
		line-height 20px
		margin-right 15px
.red
	color #CC0000
.ico
	background url(routImg+"icon-portada.png") no-repeat
	float left
	height 20px
	margin-right 5px
	width 22px
	&.bcode
		background-position inmuebleIconCode
	&.views
		background-position IconInfview
		height 14px
		margin-top 2px
	&.stadistics
		background-position inmuebleIconStadistics
.forvalues
	display table-cell
	vertical-align middle
	position relative
	width 325px
	.for-rating
		margin-top 0
.for-rating
	float right
	margin 10px 10px 0 0
	position relative
	span
		float left
		font-size 11px
		line-height 16px
.circle-rating
	background url(routImg+"icon-portada.png") valueIconCircle no-repeat
	float left
	height 16px
	margin-right 10px
	position relative
	width 88px
	li
		cursor pointer
	&.rnk1
		background-position valueIconCircleRnk1
	&.rnk2
		background-position valueIconCircleRnk2
	&.rnk3
		background-position valueIconCircleRnk3
	&.rnk4
		background-position valueIconCircleRnk4
	&.rnk5
		background-position valueIconCircleRnk5
	.one
		a
			left 0
			&:hover,&.act
				width 16px
	.two
		a
			left 18px
			&:hover,&.act
				width 34px
	.three
		a
			left 36px
			&:hover,&.act
				width 52px
	.four
		a
			left 54px
			&:hover,&.act
				width 70px
	.five
		a
			left 72px
			&:hover,&.act
				width 88px
	a
		cursor pointer
		height 16px
		left 0
		position absolute
		text-decoration none
		top 0
		width 16px
		z-index 10
		&:hover, &.act
			background url(routImg+"icon-portada.png") valueIconCircleHoverAct no-repeat
			height 16px
			left 0
			overflow hidden
			z-index 5
	&.dis
		a
			background none
			cursor default
.hover-rating-details
	position absolute
	right 0
	top 17px
	z-index 60
.arrowforRating
	background url(routImg+"icon-portada.png") arrowIconRating no-repeat
	height 11px
	position absolute
	right 20px
	width 10px
	z-index 20
.rating-details
	background #fff
	border 1px solid #676767
	border-radius 10px
	box-shadow 0 2px 3px #999
	margin-top 10px
	padding 10px
	position relative
	table
		display block
		font-size 11px
		width 180px
	td
		line-height 11px
		padding 4px 0
		vertical-align top
	.tw80
		padding-right 10px
		width 80px
	.parraf
		line-height 12px
		padding-top 5px
		text-align center
.bg-rate-gray
	background #F2F3F5
	display block
	height 10px
	width 75px
.rate-green
	background #608828
	float left
	height 10px
	padding-right 5px
	position relative
.endgreen-rate
	background url(routImg+"icon-portada.png") inmuebleIconEndrategreen no-repeat
	height 10px
	position absolute
	right 0
	top 0
	width 5px
.property-data
	background #e3ead9
	border 1px solid #e8e8e8
	padding-bottom 10px
	.btn-urb, .btn-gray
		margin 0 0 10px 10px
		padding 7px 0
		text-align center
		width 200px
	.btn-gray
		font-size 13px
.head-data
	background #fff
	color #666
	padding 14px 0
	text-align center
	p
		margin-bottom 3px
		&.tit
			color #000
			font-weight 700
			margin-bottom 6px
		&.dolar
			color #333
			font-weight 700
		&.price
			color #CC0000
			font-size 20px
			font-weight 700
			line-height 21px
			margin-bottom 6px
.property
	line-height 13px
	margin 10px
	width 200px
	dt
		color #666
		float left
		padding 5px 0
	dd
		color #000
		margin-left 110px
		padding 5px 0
/**
@module portada.css
@submodule Gallery Ads
*/
.gallery-property
	margin-bottom 10px
	img
		display block
		height 345px
		width 460px
.galproper-slide
	height 80px
	margin 0 auto 14px
	overflow hidden
	position relative
	width 460px
	.glp-slid
		float left
		height 80px
		margin-left 12px
		width 106px
		&:first-child
			margin 0
		a
			display block
			height 80px
			position relative
			width 106px
	img
		display block
		height 80px
		position relative
		width 106px
		z-index 1
.video-ply
	background url(routImg+"video.png") no-repeat
	height 40px
	left 50%
	margin -20px 0 0 -20px
	position absolute
	top 50%
	width 40px
	z-index 2
.share-iconsProperty
	font-size 11px
	position relative
	span
		float left
		line-height 20px
	.separator
		border-left 1px solid #ccc
		margin-left 15px
	a
		height 20px
		float left
		font-size 0
		line-height 0
		margin-left 10px
		width 20px
		&.fb
			background url(routImg+"icon-layout.png") inmuebleIconFb no-repeat
		&.tw
			background url(routImg+"icon-layout.png") inmuebleIconTw no-repeat
		&.mail
			background url(routImg+"icon-publicacion.png") actionIconMessage no-repeat
			&:hover
				background-position actionIconMessageHover
		&.favorite
			background url(routImg+"icon-portada.png") inmuebleIconFavorite no-repeat
			width 18px
			&.act
				background url(routImg+"icon-portada.png") inmuebleIconHoverFavorite no-repeat
				transform scale(1)
				opacity 1
		&.print
			background url(routImg+"icon-portada.png") inmuebleIconPrint no-repeat
			width 21px			
			&:hover
				background-position inmuebleIconPrintHover
		&.report
			background url(routImg+"icon-portada.png") inmuebleIconReport no-repeat
			width 22px
.btn-contact
	.btn-urb
		font 400 13px/33px family1
		padding 8px 0
		width 220px
	span
		background url(routImg+"icon-portada.png") inmuebleIconContact no-repeat
		float left
		height 35px
		margin 0 10px
		width 42px
.formAnunciante
	background #F5F5F7
	border 1px solid #e8e8e8
	padding 15px 10px
	p
		color #666
		font-size 11px
		font-style italic
		line-height 12px
	.control-group
		margin-bottom 10px
	textarea
		height 80px
	.input-xxsmall
		width 180px
	.btn-urb
		padding 0px 40px
	.control-label
		color #333
		font-size 12px
		padding-top 9px
	input[type="checkbox"]
		margin-right 5px
	&.nobg
		background none
		border 0
textarea
	height 80px
.sec-property
	margin-bottom 30px
	&:last-child
		margin-bottom 0
.property-detail
	background #fff
	border 1px solid #e8e8e8
	padding 10px
	p
		color #333
		line-height 15px
		margin-bottom 0
	.urb-stitle
		font 700 15px/15px family2
		margin-top 15px
.services-check
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	&.without-vta
		li
			background none
			padding 3px 0 5px 4px
			width 205px
	li
		background url(routImg+"icon-portada.png") inmuebleAIconCheck no-repeat
		float left
		line-height 13px
		margin-left 15px
		padding 3px 0 5px 35px
		width 170px
.value-times
	display inline-block
	line-height 13px
	margin 0 0 0 17px
	vertical-align top
	width 205px
	*display inline
	*zoom 1
	dt
		float left
		padding 5px 0
	dd
		margin-left 90px
		padding 5px 0
.map-places
	padding-bottom 10px
	span
		background url(routImg+"icon-portada.png") no-repeat
		float left
		height 22px
		margin-right 5px
		opacity 0.7
		width 40px
		&.transport
			background-position inmuebleIconTransport
			width 40px
		&.education
			background-position inmuebleIconEducation
			margin-right 9px
			width 24px
		&.entertainment
			background-position inmuebleIconEntertainment
			margin 0 11px 0 7px
			width 20px
		&.store
			background-position inmuebleIconStore
			margin 0 10px 0 2px
			width 22px
		&.health
			background-position inmuebleIconHealth
			margin 0 13px 0 10px
			width 22px
		&.restaurant
			background-position inmuebleIconRestaurants
			margin 0 15px 0 11px
			width 12px
		&.general
			background-position inmuebleIconGeneral
			margin 0 9px 0 4px
			width 20px
		&.others
			background-position inmuebleIconOthers
			height 22px
			margin 0 13px 0 9px
			width 23px
	li
		background #F2F3F5
		color #999
		float left
		line-height 22px
		margin 0 0 10px 20px
		padding 3px 0 3px 7px
		width 212px
		&:hover, &.act
			background #FFF1B9
			color #000
			span
				opacity 0.99
		&:nth-child(3n+1)
			margin-left 0
	input[type="checkbox"]
		float left
		margin 5px 8px 0 0
.map-geo
	margin 0
.box-stadistics
	background #FAFAFA
	border 1px solid #e8e8e8
.total-visits
	background #FFF1B9
	display inline-block
	height 104px
	padding-top 30px
	text-align center
	vertical-align top
	width 220px
	p
		color #FF0000
		font-size 20px
		line-height 21px
	span
		color #333
		font-size 48px
		line-height 48px
.rate-stadistics
	display inline-block
	margin-top 4px
	vertical-align top
	width 470px
	td
		line-height 13px
		padding 9px 0
		vertical-align top
		&.wt30
			text-align right
			width 30px
		&.wt250
			padding-left 10px
			width 250px
		&.wt170
			width 170px
			padding-right 5px
.score-rate
	height 14px
.rate-line
	background #666
	display block
	padding-right 4px
	position relative
	height 14px
	width 0%
	transition width 250ms ease-in .5s
	&.yellow
		background #FFCC00
	&.blue
		background #445F99
	&.skyblue
		background #1DCAFF
.end-rate
	background url(routImg+"icon-portada.png") inmuebleIconEndrate no-repeat
	height 14px
	position absolute
	display block
	right 0
	width 4px
	z-index 10
.district
	background #fff
	border 1px solid #e8e8e8
	border-radius 0 0 4px 4px
	.btn-urb
		border-radius 0 0 4px 4px
		display block
		padding 8px 0
		text-align center
	.img
		float left
		width 220px
	.text
		float left
		line-height 15px
		margin 10px 0 0 20px
		width 440px
.aside
	margin-bottom 20px
.change-code
	border 1px solid #ccc
	width 196px
.refreshCode
	background url(routImg+"icon-portada.png") icoRefreshCode no-repeat
	float right
	font-size 0
	height 14px
	line-height 0
	margin-right 5px
	width 14px
	&:hover
		background url(routImg+"icon-portada.png") icoRefreshCodeHover no-repeat
.helpCode
	background url(routImg+"icon-portada.png") helpCode no-repeat
	float right
	font-size 0
	height 14px
	line-height 0
	width 14px
	&:hover
		background url(routImg+"icon-portada.png") helpCodeHover no-repeat
.flCode
	float left
	margin-right 20px
	width 198px
.enterCode
	float left
	line-height 15px
	margin-bottom 4px
	width 198px
#hidePhone
	p
		line-height 16px
		margin 0
/**
* Ficha inmueble Agente Section
* @class Ficha inmueble Agente
* @module portada.css
*/
.aside-detail
	background #fff
	border 1px solid #E8E8E8
	.formAnunciante
		background none
		border none
		padding 5px 0
.agent-detail
	background #F2F3F5
	padding 10px
	h2
		color #5F8727
		float left
		font 400 12px/14px family1
		margin 10px 0 0
		text-transform uppercase
		width 95px
		word-wrap break-word
	.for-rating
		float left
		margin 15px 0
	.certificates-boxes
		img
			display block
			height 50px
			width 50px
.agent-img
	display block
	float left
	margin-right 10px
	width 90px
	img
		display block
		height 65px
		width 90px
.certificates-boxes
	float left
	margin-top 10px
	width 100%
	li
		float left
		margin-right 10px
#form-toggle-contacto
	clear both
/*
* Mensaje par ie
* @class Mensaje para ie
* @module portada.css
*/
#messageIE
	width 100%
	height 150px
	position fixed
	bottom 0
	left 0
	background rgb(255,255,255)
	background rgba(255,255,255,0.9)
	z-index 20 
	#imgPerson
		width 153px
		height 170px
		background url(routImg+"messagesie.png") 0px -74px no-repeat
		margin -66px 0 0 10%
		float left
	#txtIE 
		float left 
		padding 20px 
		h2
			color #CB2128
			font-size 30px
			font-weight 700
			display block
		p
			color #686868
			font-size 16px
		a
			color #9DC44D
			font-weight 700
	#logosBrowser
		width 232px
		height 60px 
		background url(routImg+"messagesie.png") 8px -250px no-repeat
		float left
		margin-top 30px
/**
* Portada Agente Section
* @class Portada Agente
* @module portada.css
*/
.box-infoagt
	margin-bottom 20px
	.agt-content
		background #fff
		border 1px solid #ececec
		position relative
		width 298px
		margin-left 0
	.btn-small
		padding 0 45px
	.content-img
		img
			display block
			height 169px
			width 298px
	.last-ads
		img
			display block
			height 79px
			width 140px
	.certificates
		img
			display block
			height 48px
			width 48px
.box-infocontent
	.grids-4
		background #fff
		border 1px solid #ececec
		height 355px
		margin-bottom 20px
		position relative
		width 298px
		transition box-shadow 120ms ease-in
		&:hover
			box-shadow 0 2px 5px #d6d5d5
		.btn-see
			bottom 10px
			position absolute
			right 10px
.content-img
	img
		height 169px
		width 298px
.content-detail
	background #F2F3F5
	margin-bottom 15px
	padding 10px
	h2
		color #5F8626
		font 400 16px/17px family1
		margin-bottom 5px
	.for-rating
		margin 0
.certificates
	margin-bottom 8px
	li
		float left
		margin-right 5px
.ico-ads
	float left
	font-size 11px
	line-height 16px
	span
		background url(routImg+"icon-publicacion.png") actionIconProperty no-repeat
		float left
		height 16px
		margin-right 3px
		width 20px
.most-value
	background #fff
	border 1px solid #ececec
	margin-top 10px
	padding 10px
	transition box-shadow 120ms ease-in 0
	&:hover
		box-shadow 0 2px 5px #d6d5d5
	&:first-child
		margin-top 0
	h2
		color #5f8526
		font 400 15px/17px family1
		margin-bottom 10px
	p
		line-height 14px
		margin-bottom 10px
	.for-rating
		float none
		margin 0
		width 190px
.filas
	&.last-ads
		margin 0
		li
			background #fff
			border 1px solid #ececec
			padding 0
			transition box-shadow 120ms ease-in 0
			&:hover
				box-shadow 0 2px 5px #d6d5d5
		.last-img
			float left
			width 160px
			img
				height 90px
				width 160px
		.last-info
			margin-top 5px
.last-ads
	margin 15px 10px 10px
	h3
		color #333
		font 700 14px/15px family1
	li
		margin-bottom 10px
.last-img
	float left
	width 140px
	img
		height 79px
		width 140px
.last-info
	float left
	margin-left 10px
	width 125px
	h2
		color #5F8526
		font 400 12px/14px family1
		margin-bottom 1px
	p
		color #666
		font-size 11px
		line-height 12px
		margin-bottom 0
/**
* Tienda Agente Section
* @class Tienda Agente
* @module portada.css
*/
#slide-agt
	margin-bottom 30px
	position relative
	img
		display block
		height 360px
		width 940px
.store-agt
	padding 10px
	h2
		color #5F8526
		font 400 16px/17px family1
		margin-bottom 10px
	p
		line-height 15px
		word-wrap break-word
	ul
		padding-bottom 10px
		li
			color #666
			line-height 14px
			padding-bottom 5px
			span
				color #CC0000
				font-size 14px
				font-weight 700
.btn-see
	background url(routImg+"icon-layout.png") icoSeemore no-repeat
	float right
	font-size 11px
	line-height 18px
	padding-left 22px
	&:hover
		background-position icoSeemoreHover
.btns
	margin 10px 0 30px
	.btn-urb
		margin 0 10px
/**
* Portadas Section
* @class Portadas
* @module portada.css
*/
.srch-price
	background #6FC608
	color #fff
	height 220px
	margin-bottom 10px
	padding 20px 10px 0 10px
	&.blue
		background #1780FF
	span
		background url(routImg+"icon-portada.png") icoPrice no-repeat
		float left
		height 110px
		margin 50px 0 0 20px
		width 49px
		&.distance
			background-position icoDistance
			height 97px
			margin-left 3px
			width 66px
	&:last-child
		margin-bottom 0
.srchprice-detail
	float left
	margin-left 25px
	width 185px
	h3
		font 16px/18px family1
	p
		line-height 14px
	input
		font-size 12px
		line-height 20px
		margin-top 4px
		padding 2px 6px 0
		width 65px
	.iopinline
		margin-bottom 13px
		.ioption
			color #fff
			width 60px
		input
			padding 0
			width 10px
/* flip card */

