include jade/vars.jade
include jade/head.jade
body
	include jade/include/top-gec.jade
	include jade/include/header.jade

	#wrapper
		<?php echo $this->content; ?>

	#divAppData
		p module: <?php echo $this->layout()->moduleName; ?> - controller: <?php echo $this->layout()->controllerName; ?> - action: <?php echo $this->layout()->actionName; ?>

	include jade/include/footer.jade

	<?php echo $this->tplLoader(); ?>

	script(src="http://zf2.pe/static/js/um/bower_components/requirejs/require.js")
	script(src="http://zf2.pe/static/js/um/config.js")