@font-face{font-family:'lucida_sans_unicoderegular';src:url("fonts/lucidaRegular/lucidaRegular-webfont.eot");src:url("fonts/lucidaRegular/lucidaRegular-webfont.eot?#iefix") format('embedded-opentype'),url("fonts/lucidaRegular/lucidaRegular-webfont.woff") format('woff'),url("fonts/lucidaRegular/lucidaRegular-webfont.ttf") format('truetype'),url("fonts/lucidaRegular/lucidaRegular-webfont.svg#lucida_sans_unicoderegular") format('svg');font-weight:normal;font-style:normal}
article,aside,footer,header,nav,section{display:block}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;margin:0}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a:hover,a:active{outline:0}
img{max-width:100%;width:auto 9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}
button,input{*overflow:visible;line-height:normal}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
button{-webkit-appearance:button;cursor:pointer}
label,select,button,input[type="radio"],input[type="checkbox"]{cursor:pointer}
textarea{overflow:auto;vertical-align:top}
form{padding:0;margin:0}
body{cursor:default;font:12px 'lucida_sans_unicoderegular',Arial,sans-serif;margin:0}
h1{margin:0 0 15px}
h2{font-family:"Trebuchet MS",Arial,sans-serif;font-weight:400;margin:0 0 18px}
h3{font-family:"Trebuchet MS",Arial,sans-serif;font-weight:400;margin:0 0 16px}
h4{font-weight:400;margin:0 0 12px}
ul{list-style:none;margin:0;padding:0}
p{margin:0 0 14px}
a{text-decoration:none;color:#5f8727;}
a:hover{text-decoration:underline}
.box-center{margin:0 auto;width:940px;*zoom:1;}
.box-center:before,.box-center:after{display:table;content:"";line-height:0}
.box-center:after{clear:both}
.w980{width:980px;margin:0 auto;*zoom:1;}
.w980:before,.w980:after{display:table;content:"";line-height:0}
.w980:after{clear:both}
.row{*zoom:1;}
.row:before,.row:after{display:table;content:"";line-height:0}
.row:after{clear:both}
[class*="grids-"]{float:left;margin-left:20px;}
[class*="grids-"]:first-child{margin:0}
.grids-4{width:300px}
.grids-2{width:140px}
.grids-3{width:220px}
.grids-9{width:700px}
.grids-9 .grids-3:nth-child(3n+1){margin:0}
.top-gec{background:url("../img/bg-topgec.gif") repeat-x;font-family:Arial,sans-serif;height:27px;padding-top:2px;position:relative;z-index:10;}
.top-gec .logo-gec{background:url("../img/icon-set.png") 0 -60px no-repeat;float:left;height:19px;width:115px}
.top-gec h4{color:#fff;float:left;font:11px/15px "Tahoma",Arial,sans-serif;margin:0;padding:2px 0 0 8px}
.top-gec .cont-clasif{background:#fff;border-color:#ccc;-webkit-border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-ms-border-radius:7px 7px 0 0;-o-border-radius:7px 7px 0 0;border-radius:7px 7px 0 0;border-style:solid;border-width:1px 1px 0;float:right;height:22px;padding:4px 0 0 10px;width:180px;}
.top-gec .cont-clasif > li{height:22px;position:relative}
.top-gec .cont-clasif > li:hover .clasif-link{background:url("../img/icon-set.png") -349px -74px no-repeat;opacity:.75}
.top-gec .cont-clasif > li:hover ul{display:block}
.top-gec .clasif-list{display:none;background:#fff;border-color:#ccc;-webkit-border-radius:0 0 7px 7px;-moz-border-radius:0 0 7px 7px;-ms-border-radius:0 0 7px 7px;-o-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px;border-style:solid;border-width:0 1px 1px;-moz-box-shadow:1px 1px 2px 0 #454545;-webkit-box-shadow:1px 1px 2px 0 #454545;box-shadow:1px 1px 2px 0 #454545;font-size:12px;position:absolute;right:-1px;top:21px;width:190px;}
.top-gec .clasif-list p{font-size:12px;margin:0}
.top-gec .clasif-list a{color:#015cad;font-size:11px}
.top-gec .clasif-list li{border-top:1px solid #e4e4e4;height:37px;padding:3px 10px 0;}
.top-gec .clasif-list li:first-child{border-color:#fff}
.top-gec .clasif-list li:hover{background:#f3f3f3}
.top-gec .clasif-part{background:url("../img/icon-set.png") -388px -60px no-repeat;display:inline-block;*display:inline;font-size:12px;vertical-align:top;padding-right:16px;*zoom:1}
.top-gec .clasif-link{background:url("../img/icon-set.png") -349px -86px no-repeat;color:#000;display:inline-block;*display:inline;font-size:12px;font-weight:700;margin-left:5px;padding-right:14px;text-decoration:none;vertical-align:top;*zoom:1}
.cont-menu{border-top:1px solid #ccc;margin:0 auto;padding:0 10px;width:940px}
header{background:#fff;border-bottom:1px solid #e0e0e0}
.head-logo{float:left;height:50px;margin:0;width:160px;}
.head-logo a{background:url("../img/icon-set.png") -114px -216px no-repeat;display:block;font-size:0;height:50px;width:160px;*text-indent:-9999px}
#frm_top_search{float:left}
#main-menu{float:left;padding:10px 0;}
#main-menu li{border-left:1px solid #608828;float:left;}
#main-menu li:first-child{border:none}
#main-menu a{color:#608828;display:block;font-size:13px;height:24px;line-height:24px;padding:0 8px}
#sec-menu{background:#fafbfe;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmJmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUzZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#fafbfe 0%,#e2e3e5 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafbfe),color-stop(100%,#e2e3e5));background:-webkit-linear-gradient(top,#fafbfe 0%,#e2e3e5 100%);background:-o-linear-gradient(top,#fafbfe 0%,#e2e3e5 100%);background:-ms-linear-gradient(top,#fafbfe 0%,#e2e3e5 100%);background:linear-gradient(to bottom,#fafbfe 0%,#e2e3e5 100%);border-top:1px solid #e0e0e0;}
#sec-menu li{float:left;border-right:1px solid #e0e0e0;}
#sec-menu li:first-child{border-left:1px solid #e0e0e0}
#sec-menu a{color:#666;display:block;font-size:12px;height:40px;line-height:40px;padding:0 12px;}
#sec-menu a:hover{background:#fff;color:#000;text-decoration:none}
footer{background:#5e7180;padding-top:100px;position:relative;}
footer h3,footer h4{color:#fff;font-size:16px}
footer h4{border-bottom:1px solid #ccc;font-weight:700;line-height:22px}
.fot-decor{background:#fff url("../img/icon-set.png") 0 0 repeat-x;width:100%;height:60px;}
.turb-foot{color:#fff;margin-left:24px;}
.turb-foot span{background-position:0 -79px}
.fot-list li{background:url("../img/icon-set.png") -446px -96px no-repeat;margin-top:2px;padding-left:9px;}
.fot-list li:first-child{margin:0}
.fot-list li:hover{background:url("../img/icon-set.png") -446px -109px no-repeat}
.fot-list a{color:#fff;font:12px 'lucida_sans_unicoderegular',Arial,sans-serif;text-decoration:underline;}
.fot-list a:hover{color:#c8c4b6}
.fot-banner{background:#fff;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;margin-bottom:30px;padding:12px 12px 16px;position:relative;}
.fot-banner p{line-height:16px}
.fot-banner .fban-decor{background-image:url("../img/icon-set.png");background-repeat:no-repeat;bottom:0;position:absolute;right:0;z-index:1}
.cntrlHelp p{font-size:12px;margin-bottom:12px;text-align:center;width:126px}
.cntrlHelp li{background:url("../img/icon-set.png") -447px -122px no-repeat;padding-left:7px;}
.cntrlHelp li a{color:#72a431;font-size:11px;line-height:16px}
.cntrlHelp .btn-urb{left:13px;margin:0 0 12px;position:relative}
.cntrlHelp .fban-decor{background-position:-115px -60px;height:156px;width:107px}
.qdigital p{color:#333;font-size:13px;margin-bottom:10px}
.qdigital span{color:#8bc53f;font-size:16px;font-weight:700}
.qdigital .fban-decor{background-position:-222px -60px;height:95px;width:124px}
.fot-quiosco{background:url("../img/icon-set.png") -222px -155px no-repeat;display:block;height:25px;margin-bottom:12px;width:155px}
.fot-social{background:url("../img/icon-set.png") -346px -60px;display:inline-block;*display:inline;height:24px;margin-left:18px;vertical-align:top;*zoom:1;}
.fot-social:first-child{margin-left:8px}
.fot-social.fb{width:12px}
.fot-social.twt{background-position:-358px -60px;width:16px}
.fot-social.glg{background-position:-374px -60px;width:24px}
.fot-social.ytb{background-position:-398px -60px;width:25px}
.fot-nav{padding-bottom:30px;}
.fot-nav .nav-line{background:#fff;float:left;height:2px;margin-top:8px;width:530px}
.fot-nav .navs{float:right;width:158px;}
.fot-nav .navs span{color:#fff;float:left;font-size:12px}
.fot-nav a{background:url("../img/icon-set.png") -346px -105px;float:left;height:18px;margin-left:10px;width:18px}
.fot-nav .nav-next{background-position:-364px -105px;margin-left:5px}
.content-paid{background:#46545f;color:#fff;padding:22px 0;}
.content-paid span{float:left;font-size:16px;padding:3px 0 0 124px}
.content-paid p{font-size:11px;margin:0;padding-top:12px;text-align:center}
.paids{background:url("../img/icon-set.png") -15px -79px;float:left;height:31px;margin-left:16px;}
.paids.pefectivo{width:70px}
.paids.visa{background-position:-46px -110px;width:67px}
.paids.master{background-position:0 -110px;width:46px}
.paids.vbvisa{background-position:-287px -180px;width:56px}
.paids.smaster{background-position:0 -141px;width:72px}
.paids.afvisa{background-position:-222px -180px;width:65px}
.copyright{padding:16px 0;font-size:11px;color:#fff;}
.copyright p{margin:0;float:left;}
.copyright p span{font-family:Arial,sans-serif}
.copyright a{color:#fff;text-decoration:underline;}
.copyright a:hover{opacity:.85}
.copyright ul{float:left;margin-left:145px}
.copyright li{float:left;margin-left:16px;}
.copyright li:first-child{margin:0}
.book-claims{float:right;padding:1px 0 1px 58px;position:relative;}
.book-claims span{background:url("../img/icon-set.png") -346px -84px;height:21px;left:0;position:absolute;top:0;width:50px}
.see-also{font-family:Arial,sans-serif;padding:4px 0 10px;}
.see-also span{color:#666;float:left;font-size:11px;font-weight:700;padding:6px 0 0 56px}
.see-also ul{float:right;width:791px}
.see-also li{border-left:1px solid #5f8526;float:left;font-size:11px;margin-top:6px;padding:0 5px;}
.see-also li:first-child{border:none}
.see-also a{color:#5f8526}
input[type="text"]{border:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;border-left:1px solid #e1e1e1;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;border-right:1px solid #c3c3c3;border-top:1px solid #c3c3c3;-moz-box-shadow:0 1px 3px #ccc inset;-webkit-box-shadow:0 1px 3px #ccc inset;box-shadow:0 1px 3px #ccc inset;color:#999}
.controls-inline{*zoom:1;}
.controls-inline:before,.controls-inline:after{display:table;content:"";line-height:0}
.controls-inline:after{clear:both}
.controls-inline .controls{float:left;}
.controls-inline .controls + .controls{padding-left:10px}
.btn-urb{background:#ff9b2e;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ZmOWIyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2ZmN2YxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYjc2MTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#ff9b2e 5%,#eb7617 90%,#eb7617 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(5%,#ff9b2e),color-stop(90%,#eb7617),color-stop(100%,#eb7617));background:-webkit-linear-gradient(top,#ff9b2e 5%,#eb7617 90%,#eb7617 100%);background:-o-linear-gradient(top,#ff9b2e 5%,#eb7617 90%,#eb7617 100%);background:-ms-linear-gradient(top,#ff9b2e 5%,#eb7617 90%,#eb7617 100%);background:linear-gradient(to bottom,#ff9b2e 5%,#eb7617 90%,#eb7617 100%);border:none;-moz-box-shadow:1px 2px 2px rgba(0,0,0,0.2);-webkit-box-shadow:1px 2px 2px rgba(0,0,0,0.2);box-shadow:1px 2px 2px rgba(0,0,0,0.2);color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;display:inline-block;*display:inline;font:700 14px/16px Arial,sans-serif;padding:4px 20px;text-shadow:1px 2px 0 rgba(0,0,0,0.25);vertical-align:top;*zoom:1;}
.btn-urb:hover{background:#eb7617;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2ViNzYxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2ZmOWIyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjliMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#eb7617 5%,#ff9b2e 90%,#ff9b2e 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(5%,#eb7617),color-stop(90%,#ff9b2e),color-stop(100%,#ff9b2e));background:-webkit-linear-gradient(top,#eb7617 5%,#ff9b2e 90%,#ff9b2e 100%);background:-o-linear-gradient(top,#eb7617 5%,#ff9b2e 90%,#ff9b2e 100%);background:-ms-linear-gradient(top,#eb7617 5%,#ff9b2e 90%,#ff9b2e 100%);background:linear-gradient(to bottom,#eb7617 5%,#ff9b2e 90%,#ff9b2e 100%);text-decoration:none}
.urb-title{border-bottom:1px solid #ccc;font-size:20px;line-height:24px;padding-bottom:3px;position:relative;}
.urb-title span{background-image:url("../img/icon-set.png");background-repeat:no-repeat;height:22px;left:-24px;position:absolute;top:0;width:15px}
.fix-bg{position:relative;z-index:2}
.pb50{padding-bottom:50px}
.g3-pb30 .grids-3{padding-bottom:30px}
.lt-ie9 .btn-urb{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b2e', endColorstr='#eb7617',GradientType=0 );*zoom:1;}
.lt-ie9 .btn-urb:hover{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb7617', endColorstr='#ff9b2e',GradientType=0 )}
.lt-ie9 #sec-menu{filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbfe', endColorstr='#e2e3e5',GradientType=0 )}
body{color:#333}
p{font-size:14px;margin:0 0 14px}
label{display:block}
input[type="text"],input[type="password"]{border-bottom:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #c3c3c3;border-top:1px solid #c3c3c3;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;-moz-box-shadow:inset 0 1px 4px #ccc;-webkit-box-shadow:inset 0 1px 4px #ccc;box-shadow:inset 0 1px 4px #ccc;color:#999;font:16px/30px 'lucida_sans_unicoderegular',Arial,sans-serif;height:30px;padding:5px 10px}
select{border-bottom:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #c3c3c3;border-top:1px solid #c3c3c3;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;-moz-box-shadow:inset 0 1px 4px #ccc;-webkit-box-shadow:inset 0 1px 4px #ccc;box-shadow:inset 0 1px 4px #ccc;color:#999;font:16px/40px 'lucida_sans_unicoderegular',Arial,sans-serif;height:42px;padding:5px;width:200px}
textarea{border-bottom:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #c3c3c3;border-top:1px solid #c3c3c3;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;-moz-box-shadow:inset 0 1px 4px #ccc;-webkit-box-shadow:inset 0 1px 4px #ccc;box-shadow:inset 0 1px 4px #ccc;color:#000;font:16px/20px 'lucida_sans_unicoderegular',Arial,sans-serif;height:90px;padding:5px 10px;width:680px}
table{border-collapse:collapse;border-spacing:0;}
table th{background-color:#f7e19f;color:#333;font-size:12px;font-weight:400;line-height:30px;padding:0 5px;text-align:center}
table td{font-family:'lucida_sans_unicoderegular',Arial,sans-serif;padding:0 5px;text-align:center;vertical-align:middle;word-break:break-all;word-wrap:break-word}
#wrapper{margin:0 auto;padding:20px 0 75px;width:940px}
.steps{background:url("../img/line.png") left bottom repeat-x;float:right;margin:-25px 0 7px;}
.steps li{background:url("../img/icon-set.png") -274px -287px no-repeat;color:#666;font-size:10px;height:45px;line-height:11px;display:inline-block;text-align:center;width:60px;*zoom:1;*display:inline;}
.steps li.act{background:url("../img/icon-set.png") -274px -332px no-repeat}
.box-plan{background:url("../img/icon-set2.png") left top no-repeat;display:inline-block;height:554px;margin-left:11px;padding:30px 10px 0;width:156px;*zoom:1;*display:inline;}
.box-plan:first-child{margin-left:0}
.box-plan h3{color:#333;font:20px/21px 'lucida_sans_unicoderegular',Arial,sans-serif;margin-bottom:8px;text-align:center}
.box-plan .see-example{color:#5f8727;display:block;font-size:11px;text-align:center;}
.box-plan .see-example.black{color:#000;font-size:12px;font-weight:700;margin-top:24px}
.box-plan .price{font-size:20px;font-weight:700;line-height:37px;margin-bottom:20px;margin-top:40px;text-align:center}
.box-plan .btn{display:block;margin:7px 0 0 10px;text-align:center;width:140px;}
.box-plan .btn a{color:#fff;display:block;font:700 18px/42px Arial,sans-serif;}
.box-plan .btn a:hover{color:#dd570e;text-decoration:none}
.box-plan p{font-size:12px;height:43px;line-height:14px;text-align:center}
.box-plan.bg-yellow{background-position:left top}
.box-plan.bg-gray{background-position:-176px 0}
.box-plan.bg-orange{background-position:-352px 0}
.box-plan.bg-blue{background-position:-528px 0}
.box-plan.bg-green{background-position:-704px 0}
.box-plan ul{height:270px;}
.box-plan ul li{background:url("../img/icon-set.png") -441px -389px no-repeat;font-size:12px;line-height:14px;margin-top:10px;padding-left:15px}
.tit-steps{font-size:18px;line-height:19px}
.print-package{display:inline-block;width:580px;*display:inline;*zoom:1;*margin-left:-15px;}
.print-package li{margin-top:10px;padding:10px;width:560px;}
.print-package li.bg-yellow{background-color:#ffe16a}
.print-package li.bg-green{background-color:#bada8f}
.print-package li.bg-orange{background-color:#eba469}
.print-package li input[type="radio"]{float:left;margin:10px 0 0 0;width:10px}
.print-package .package-detail{float:right;width:540px;}
.print-package .package-detail h2{color:#000;float:left;font:700 20px/22px 'lucida_sans_unicoderegular',Arial,sans-serif;margin-bottom:2px}
.print-package .package-detail p{color:#333;float:left;font-size:11px;line-height:12px;margin:0;width:100%}
.print-package .package-detail .price{color:#000;float:right;font-size:28px;font-weight:700;line-height:22px}
.package-img{background:url("../img/icon-set3.png") left top no-repeat;display:inline-block;height:200px;margin-left:15px;width:320px;*display:inline;*zoom:1;*margin-left:28px}
.details{color:#666;font-size:11px;line-height:17px;margin:10px 0 0}
.map{margin:0}
.print-adv{border-bottom:1px solid #000;border-top:1px solid #000;display:inline-block;margin-left:10px;padding:10px 0;width:240px;*padding-bottom:0;*display:inline;*zoom:1;}
.print-adv h2{color:#000;font:700 12px/13px Arial,sans-serif;margin-bottom:10px}
.adv-img{margin-bottom:10px}
.adv-details{display:inline-block;margin-left:20px;vertical-align:top;width:630px;*display:inline;*zoom:1;}
.adv-details li{background:url("../img/icon-set.png") -444px -182px no-repeat;font-size:14px;line-height:16px;margin-top:10px;padding-left:13px;*padding-left:0}
.adv-code{color:#000;float:left;font:700 12px/12px Arial,sans-serif;}
.adv-code.right{float:right}
.list-details{margin:15px 10px 0;}
.list-details li{background:url("../img/icon-set.png") -444px -183px no-repeat;line-height:14px;margin-bottom:15px;padding-left:15px}
.sub-price{border-top:solid 1px #ccc;color:#000;font-size:18px;font-weight:700;line-height:20px;margin:15px 10px 20px;padding-top:10px;text-align:right}
.improve-adv{padding:15px 10px 0;}
.improve-adv.gray{background-color:#f2f3f5}
.improve-adv.yellow{background-color:#fffdd2}
.improve-adv h3{font:700 14px/15px 'lucida_sans_unicoderegular',Arial,sans-serif;color:#333;margin-bottom:15px}
.improve-detail{line-height:14px;padding-bottom:15px;*zoom:1;}
.improve-detail:before,.improve-detail:after{display:table;content:"";line-height:0}
.improve-detail:after{clear:both}
.improve-detail input[type="checkbox"]{float:left;margin-right:10px}
.improve-detail .text-left{float:left}
.total-price{color:#000;font-size:28px;line-height:28px;text-align:right;}
.total-price span{color:#c00}
.help-box{background:url("../img/icon-set.png") -99px -144px no-repeat;color:transparent;font-size:12px;line-height:14px;height:14px;margin-left:10px;width:14px}
.tit-pay{font:700 14px/15px 'lucida_sans_unicoderegular',Arial,sans-serif;color:#333;margin-bottom:15px}
.pay-detail{padding-bottom:15px;*zoom:1;}
.pay-detail:before,.pay-detail:after{display:table;content:"";line-height:0}
.pay-detail:after{clear:both}
.pay-detail input[type="radio"]{float:left;margin:12px 15px 0 0;*margin:9px 15px 0 0}
.pay-txt{float:left;margin-left:15px;width:400px;}
.pay-txt p{float:left;font-size:12px;line-height:15px;margin:0;}
.pay-txt p.mt10{margin-top:10px}
.pay-txt a{float:left;margin-top:4px}
.pay-txt.mt5{margin-top:5px}
.pay-logos{background:url("../img/icon-set.png");float:left;height:40px;width:64px;}
.pay-logos.pago-efectivo{background-position:0 -172px}
.pay-logos.visa{background-position:0 -212px}
.pay-logos.mastercard{background-position:0 -252px}
.verified{background:url("../img/icon-set.png") -66px -172px no-repeat;float:left;height:26px;margin-left:10px;width:47px}
.txt-small{color:#666;float:left;font-size:11px;line-height:11px;*width:100%}
.safe-box{font-family:Arial,sans-serif;margin:40px auto 0;width:700px;}
.safe-box p{background:url("../img/icon-set.png") -433px -343px no-repeat;color:#666;display:inline-block;font-size:13px;line-height:24px;margin:13px 0 0;padding-left:25px;vertical-align:top;*display:inline;*zoom:1}
.icons-safe{background:url("../img/icon-set.png");display:inline-block;height:45px;margin-left:18px;}
.icons-safe *display inline{*zoom:1}
.icons-safe.ssl{background-position:-64px -222px;width:44px}
.icons-safe.kaspersky{background-position:-64px -267px;width:43px}
.icons-safe.verisign{background-position:-107px -267px;width:90px}
.grids-5{width:380px}
.grids-7{width:540px}
.box-oportunity{background-color:#f7f7f9;border:1px solid #d3d2d7;display:inline-block;margin:20px 60px 0;vertical-align:top;width:338px;*display:inline;*zoom:1;}
.box-oportunity.bg-yellow{background-color:#fffee0;border:1px solid #ffe16a}
.box-oportunity h2{background:url("../img/icon-set3.png") 0 -200px no-repeat;color:#000;font:700 20px/22px 'lucida_sans_unicoderegular',Arial,sans-serif;height:74px;margin-bottom:10px;padding-top:33px;text-align:center;*line-height:27px;}
.box-oportunity h2.comp{background-position:-337px -200px;height:84px;padding-top:23px}
.box-oportunity p{background-color:#d3d2d7;color:#333;font-size:16px;height:110px;line-height:19px;margin:0;padding:30px 20px 0;text-align:center;}
.box-oportunity p.bg-yll{background-color:#ffe16a;height:120px;padding-top:20px}
.img-oportunity{background:url("../img/icon-set3.png") -320px 0 no-repeat;height:160px;margin:0 auto 10px;width:165px;}
.img-oportunity.company{background:url("../img/icon-set3.png") -485px 0 no-repeat;width:155px}
.table tr:last-child td{border-bottom:none}
.table tr td{background-color:#f2f3f5;border-bottom:1px solid #ccc;font:12px/15px "Trebuchet MS",Arial,sans-serif;padding-bottom:10px;padding-top:10px;}
.table tr td:first-child{padding-left:0}
.table tr td.pl5{padding-left:5px}
.table tr td.tlbleft{text-align:left}
.table tr td .expira{font-size:9px;line-height:9px}
.table tr td h3{color:#000;font:700 12px/14px 'lucida_sans_unicoderegular',Arial,sans-serif;margin:0;padding:0;text-align:left}
.table tr.grade td{background:none repeat scroll 0 0 #fff}
.table tr.active td{background:none repeat scroll 0 0 #fcf4db}
.tlb-account tr:nth-child(even){background-color:#f2f3f5}
.tlb-account td{color:#333;font:12px/15px 'lucida_sans_unicoderegular',Arial,sans-serif;padding-bottom:10px;padding-top:10px}
.lnk-green{color:#5f8526}
.lnk-blue{color:#09c}
.tbl-option{text-align:left;padding:8px 0 8px 10px;}
.tbl-option input[type="radio"],.tbl-option [type="checkbox"]{float:left;margin:0 10px 0}
.tw160{width:160px;}
.tw160 img{opacity:.85;}
.tw160 img:hover{opacity:.99}
.tw20{width:20px}
.tw30{width:30px}
.tw50{width:50px}
.tw80{width:80px}
.tw90{width:90px}
.tw110{width:110px}
.tw130{width:130px}
.tw140{width:140px}
.tw150{width:150px}
.tw200{width:200px}
.tw220{width:220px}
.tw230{width:230px}
.tw260{width:260px}
.tw270{width:270px}
.tw410{width:410px}
.tw460{width:460px}
.tw560{width:560px}
.numbers{color:#000;float:left;font:12px/16px "Trebuchet MS",Arial,sans-serif;margin:8px 15px 0 0;vertical-align:top;}
.numbers:hover{color:#5f8727;text-decoration:none}
.numbers-ico{background:url("../img/icon-set.png") no-repeat;display:inline-block;height:16px;margin:0 5px 0 0;width:22px;vertical-align:top;}
.numbers-ico.sight{background-position:-344px -183px;}
.numbers-ico.sight:hover{background-position:-392px -203px}
.numbers-ico.comments{background-position:-408px -160px}
.tbl-arrows{*display:inline;*zoom:1;display:inline-block;vertical-align:top}
.arrows a{*display:inline;*zoom:1;background-image:url("../img/icon-set.png");display:inline-block;font-size:0;height:10px;line-height:0;margin:10px 0 0 7px;vertical-align:top;width:12px;}
.arrows a.up{background-position:-438px -152px;margin-left:0;}
.arrows a.up:hover{background-position:-438px -172px}
.arrows a.down{background-position:-438px -142px;}
.arrows a.down:hover{background-position:-438px -162px}
.receive{background-color:#e8e8e8;color:#333;font-size:12px;line-height:14px;margin-top:10px;padding:12px 0 12px 10px;}
.receive input[type="radio"],.receive [type="checkbox"]{float:left;margin:0 10px 0 0}
.nobackground{background-color:transparent;color:#666}
.formAlert h3{color:#333;font:14px/15px 'lucida_sans_unicoderegular',Arial,sans-serif}
.control-group{margin-top:30px;}
.control-group:first-child{margin:0}
.control-label{color:#666;display:block;font-size:14px;line-height:16px;padding:0 0 6px}
.controls-line{*zoom:1;}
.controls-line:before,.controls-line:after{display:table;content:"";line-height:0}
.controls-line:after{clear:both}
.controls-line .controls{float:left}
.controls-line.wth{width:382px}
.cgroup-inline{margin-top:30px;*zoom:1;}
.cgroup-inline:before,.cgroup-inline:after{display:table;content:"";line-height:0}
.cgroup-inline:after{clear:both}
.cgroup-inline:first-child{margin-top:0}
.cgroup-inline .control-group{float:left;margin:0 0 0 20px;*margin-left:10px;}
.cgroup-inline .control-group:first-child{margin-left:0}
.cgroup-inline .controls{margin:0;}
.cgroup-inline .controls.mleft10{margin-left:10px}
.cgroup-inline .controls.mleft30{margin-left:30px}
.controls{margin:0 0 0 20px;}
.controls:first-child{margin-left:0}
.select-small,.input-small{width:110px}
.select-supermini,.input-xmini{width:90px}
.select-lmedium{width:157px}
.select-medium{width:160px}
.select-xmedium{width:350px}
.select-mini{font:13px/15px 'lucida_sans_unicoderegular',Arial,sans-serif;height:24px;padding:0 5px;width:60px}
.select-large{width:702px}
.input-standar{width:150px}
.input-mini{width:110px}
.input-extra{width:240px}
.input-medium{width:360px}
.input-xlarge{width:490px}
.input-xmedium{width:600px}
.input-large{width:680px}
.input-extralarge,.textarea-extralarge{width:895px}
.ioption{color:#666;font-size:16px;line-height:18px;}
.ioption input[type="radio"],.ioption [type="checkbox"]{float:left;margin:2px 6px 0}
.ioption.small{color:#666;font-size:14px;margin-top:10px}
.ioption.small2{color:#333;font-size:14px}
.help-inline{color:#666;font:12px/40px 'lucida_sans_unicoderegular',Arial,sans-serif;margin-left:10px;}
.help-inline.margin-lr{margin:0 5px 0 21px;*margin:0 13px 0 23px}
.textgray{color:#999;font-size:12px;line-height:14px}
.box-hidden{display:none}
.box-show{display:block;margin-top:30px}
.btn-urb.btn-small{font:700 16px/30px Arial,sans-serif;padding:0 30px}
.btn-urb.btn-medium{font:700 24px/40px Arial,sans-serif;padding:0 30px}
.btn-urb.btn-large{font:700 28px/50px Arial,sans-serif;padding:0 50px}
.btn-gray{background-color:#686868;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-moz-box-shadow:1px 2px 2px rgba(0,0,0,0.2);-webkit-box-shadow:1px 2px 2px rgba(0,0,0,0.2);box-shadow:1px 2px 2px rgba(0,0,0,0.2);color:#fff;margin-right:10px;text-shadow:1px 2px 0 rgba(0,0,0,0.25);display:inline-block;*display:inline;vertical-align:top;*zoom:1;}
.btn-gray:hover{background-color:#8bc53f;text-decoration:none}
.btn-gray.btn-small{font:700 14px/24px Arial,sans-serif;padding:0 10px}
.btn-gray.btn-medium{font:700 24px/40px Arial,sans-serif;padding:0 30px}
.action-icons{*display:inline;*zoom:1;background-image:url("../img/icon-set.png");background-repeat:no-repeat;display:inline-block;font-size:0;height:21px;line-height:0;margin:0 5px;vertical-align:middle;width:20px;}
.action-icons.edit{background-position:-346px -123px;}
.action-icons.edit:hover{background-position:-274px -221px}
.action-icons.destacar{background-position:-366px -123px;}
.action-icons.destacar:hover{background-position:-294px -221px}
.action-icons.download{background-position:-386px -123px;}
.action-icons.download:hover{background-position:-314px -221px}
.action-icons.refresh{background-position:-407px -123px;}
.action-icons.refresh:hover{background-position:-334px -221px}
.action-icons.clean{background-position:-386px -145px;}
.action-icons.clean:hover{background-position:-354px -221px}
.action-icons.see{background-position:-344px -181px;width:22px}
.action-icons.message{background-position:-367px -181px;}
.action-icons.message:hover{background-position:-367px -201px}
.action-icons.calendar{background-position:-392px -181px;}
.action-icons.calendar:hover{background-position:-395px -222px}
.action-icons.print{background-position:-412px -181px}
.action-icons.play{background-position:-345px -201px;}
.action-icons.play:hover{background-position:-374px -221px}
.action-icons.pending{background-position:-406px -145px;}
.action-icons.pending:hover{background-position:-414px -201px}
.action-icons.property{background-position:-294px -243px;}
.action-icons.property:hover{background-position:-314px -243px}
.action-icons.note{background-position:-334px -243px;}
.action-icons.note:hover{background-position:-354px -243px}
.action-icons.share{background-position:-374px -243px;}
.action-icons.share:hover{background-position:-394px -243px}
.action-icons.unsubscribe{background-position:-334px -267px;}
.action-icons.unsubscribe:hover{background-position:-354px -267px}
.action-icons.improve{background-position:-294px -267px;}
.action-icons.improve:hover{background-position:-314px -267px}
.btn-vermas{background-color:#e8e8e8;-moz-box-shadow:0 1px 2px #999;-webkit-box-shadow:0 1px 2px #999;box-shadow:0 1px 2px #999;color:#5f8526;display:block;font-weight:700;line-height:40px;margin:10px 0 0;text-align:center;}
.btn-vermas:hover{background-color:#d7d6d6;color:#5f8526;text-decoration:none}
.head-ads{border-bottom:1px solid #ccc;margin:0 0 15px;padding:0 0 5px;*zoom:1;}
.head-ads:before,.head-ads:after{display:table;content:"";line-height:0}
.head-ads:after{clear:both}
.head-ads h2{color:#333;float:left;font:400 20px/22px "Trebuchet MS",Arial,sans-serif;margin:0;}
.head-ads h2.nofloat{float:none;margin-bottom:10px}
.head-ads h2.font24{font-size:24px}
.head-ads h2.font28{font-size:28px;line-height:30px}
.text-detail{color:#666;float:left;font-size:12px;line-height:15px;margin-bottom:10px}
.box-white{background:#fff;border:1px solid #e8e8e8;padding:20px 10px;margin:0 0 35px;}
.box-white.nopadding{padding:0}
.box-white.mg0{margin:0}
.control{text-align:center}
.search-titems{background-color:#f2f3f5;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;margin-bottom:5px;padding:10px;*zoom:1;}
.search-titems:before,.search-titems:after{display:table;content:"";line-height:0}
.search-titems:after{clear:both}
.search-titems .controls{float:left;margin:0;}
.search-titems .controls + .controls{margin-left:10px}
.search-titems input[type="text"]{color:#999;font:14px/28px "Trebuchet MS",Arial,sans-serif;height:28px;padding:0 10px;width:750px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.ml10{margin-left:10px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.red{color:#c00}
.to-right{float:right}
.list-chk li{float:left;list-style:none;margin:12px 0 3px;width:180px}
.list-chk input[type="checkbox"]{float:left;margin:2px 6px 0 3px}
.list-chk4 li{float:left;list-style:none;margin:12px 0 3px;width:225px;white-space:nowrap;*white-space:none}
.list-chk4 input[type="checkbox"]{float:left;margin:2px 6px 0 3px}
.red{color:#c00;font-weight:700}
.green{color:#090}
