/**
* Table Section
* @class Table
* @module table.css
*/
.tbl-admin
	border 1px solid #E8E8E8
	margin-bottom 10px
	.tdStadictics
		text-align left
		padding-left 15px
	th
		background-color #F7E19F
		color #333
		font-family family1
		font-size 12px
		font-weight 400
		line-height 30px
		padding 0 5px
		text-align center
	td
		border-top 1px solid #ccc
		font-family family2
		font-size 12px
		line-height 1.4
		padding 10px 5px
		text-align center
		.btn-gray
			margin-left 20px
		.control
			padding 10px 0
	tr
		background #FAFBFE
		&:first-child
			td
				border none
		&.act
			background #f5fbee
		&.noborder
			td
				border-top 0
	h3
		font 700 12px/13px family1
		margin 0 0 6px
.tbl-striped
	margin-top 20px
	tr:nth-child(2n+1)
		background #E8E8E8
	td
		border-top 0px solid #ccc
/**
@module table.css
@submodule Sizes: Tamaños de los campos de las tablas
*/
/* Columna con imagenes */
.tdImgAds
	width 160px
	img
		display block
		height 90px
		width 160px
/* Columna con ordenamiento numerico*/
.tdOrd
	width 28px
/* Columna tipo de paquete */
.tdTypPacket
	width 142px
/* Columna fecha de creacion */
.tdDateCreat
	width 158px
/* Caducidad */
.tdExpire
	width 100px
/* Registro */
.tdRegister
	width 142px
/* Columna RUC*/
.tdRuc
	width 136px
/*Columna de checks*/
.tdCheck
	width 15px
/*Frecuencia*/
.tdFrequence
	width 136px
/*Columna de avisos */
td.tdAds,.twAdsagent
	text-align left !important
/* Columna Baños */
.tdBath
	width 46px
/* Columna Dormitorios */
.tdRooms
	width 78px
/* Columna Area */
.tdArea
	width 80px
/* Columna Precio */
.tdPrice
	width 112px
/* Columna Telefono-Celular*/
.tdTelf
	width 104px
/* Columna con 5 acciones */
.tdAcc5
	width 150px
/*Columna con 4 acciones*/
.tdAcc4
	width 118px
/*Columna con 3 acciones*/
.tdAcc3
	width 98px
/*Columna con 2 acciones*/
.tdAcc2
	width 60px
/*Paquetes*/
.tdPacks
	width 120px
/*Fecha Inicio - Fin*/
.tdDates
	width 110px
/*Importe*/
.tdAmount
	width 90px
/*Metodo de Pago*/
.tdKind
	width 120px
/*Estado*/
.tdState
	width 140px
/*Doc Pago*/
.tdPayment
	width 110px
/*Tipo de Inmueble*/
.tdkindProperty
	width 130px
/*Nombre*/
.tdNameProperty
	width 230px
/*Distrito*/
.tdDistrict
	width 170px
/*Tipo de Operacion*/
.tdOpe
	width 150px
/* Contacto Precio */
.tdPriceLarge
	width 130px
/* Estadisticas */
.tdStadictics
	width 590px
.tdAllDays
	width 130px
/* Agente paquetes */
.tdMypacks
	width 160px
.tdDate
	width 150px
.tdDateacq
	width 310px
.tdAdpacks
	width 140px
.tdStatepack
	width 120px
.twAdsagent
	width 400px
.twRegister
	width 190px
/*Adicionales*/
.tw30
	width 30px
.tw60
	width 60px
.tw120
	width 120px
.tw238
	width 238px
.tw211
	width 211px
.tw300
	width 300px
.tw506
	width 506px
.tw236
	width 236px
.tw406
	width 406px
.tw198
	width 198px
.tw281
	width 281px
.tw468
	width 468px
.tw346
	width 346px