header
	.box-center
		h1.head-logo
			a(href="http://zf2.pe",title="Urbania el buscador inmobiliario del Perú") Alquiler y Venta de Casas, Departamentos, Habitaciones,  Terrenos, Casas de Playa e Inmuebles del Perú
		//form(id="frm_top_search",class="controls-inline")
			.controls
				input(type="text",name="txt-search",placeholder="Buscar por descripción o código de aviso")
			.controls
				button(type="submit",class="btn-urb") Buscar
		.head-info
			.head-social.row
				a(href="javascript:;",title="Facebook",class="fb")
				a(href="javascript:;",title="Twitter",class="twt")
				a(href="javascript:;",title="Google+",class="glg")
			p Lima, Viernes 3 de Mayo del 2013
	nav.cont-menu.row
		ul#main-menu
			li
				a(href="javascript:;",title="Portada") Portada
			li
				a(href="javascript:;",title="Inmuebles") Inmuebles
			li
				a(href="javascript:;",title="Proyectos") Proyectos
			li
				a(href="javascript:;",title="Inmobiliarias & Constructoras") Inmobiliarias & Constructoras
			li
				a(href="javascript:;",title="Agentes") Agentes
			li
				a(href="javascript:;",title="Publica tu aviso") Publica tu aviso
			li
				a(href="javascript:;",title="Servicios") Servicio
	#sec-menu
		ul.box-center
			li
				a(href="/application/persona/index",title="Dashboard") Dashboard
			li
				a(href="/application/persona/mi-perfil",title="Mi Perfil") Mi Perfil
			li
				a(href="/application/persona/datos-facturacion",title="Mis Avisos") Mis Avisos
			li
				a(href="/application/persona/libreta-contactos",title="Mis Pagos") Mis Pagos
			li
				a(href="/application/persona/mis-avisos-activos",title="Contactos") Contactos
			li
				a(href="/application/persona/publicar-aviso-datos",title="Estadísticas") Estadísticas
			li
				a(href="/application/persona/index",title="Oportunidades de Negocio") Oportunidades de Negocio