.top-gec
	.w980
		a(href="javascript:;",target="_blank",class="logo-gec",href="http://elcomercio.pe",title="Grupo El Comercio")
		h4 Los clasificados Inmobiliarios del Grupo El Comercio
		ul.cont-clasif(itemtype="http://schema.org/Organization",itemscope="itemscope")
			li
				span.clasif-part Parte de
				a(href="javascript:;",itemprop="name",title="Clasificados.pe",class="clasif-link") Clasificados.pe
				ul.clasif-list
					li(itemtype="http://schema.org/Organization",itemscope="itemscope")
						p(itemprop="member") Empleos
						a(href="javascript:;",itemprop="url",target="_blank",title="Aptitus.pe",href="http://aptitus.clasificados.pe/?ref=urbania") Aptitus.pe
					li(itemtype="http://schema.org/Organization",itemscope="itemscope")
						p(itemprop="member") Autos y motos
						a(href="javascript:;",itemprop="url",target="_blank",title="Neoauto.pe",href="http://neoauto.clasificados.pe/?ref=urbania") Neoauto.pe
					li(itemtype="http://schema.org/Organization",itemscope="itemscope")
						p(itemprop="member") Comprar y vender
						a(href="javascript:;",itemprop="url",target="_blank",title="Kotear.pe",href="http://kotear.clasificados.pe/?ref=urbania") Kotear.pe
					li(itemtype="http://schema.org/Organization",itemscope="itemscope")
						p(itemprop="member") Micro y pequeñas empresas
						a(href="javascript:;",itemprop="url",target="_blank",title="NuestroMercado.pe",href="http://nuestromercado.clasificados.pe/?ref=urbania") NuestroMercado.pe
					li(itemtype="http://schema.org/Organization",itemscope="itemscope")
						p(itemprop="member") Restaurantes y cafés
						a(href="javascript:;",itemprop="url",target="_blank",title="GPSRestaurantes.pe",href="http://guiagps.clasificados.pe/restaurantes?ref=urbania") GPSRestaurantes.pe