/**
* General Section
* @class General
* @module base.css
*/
body
	background url(routImg+"bg-body.png")
	cursor default
	font 12px/1 family1
	margin 0
h1
	margin 0 0 15px
h2
	color #333
	font-family family2
	font-weight 400
	margin 0 0 18px
h3
	font-family family2
	font-weight 400
	margin 0 0 16px
h4
	font-weight 400
	margin 0 0 12px
ul
	list-style none
	margin 0
	padding 0
p
	margin 0 0 14px
a
	color #5F8626
	text-decoration none
	&:hover
		text-decoration underline
td, th
	vertical-align middle
	word-wrap break-word
input[type="text"],input[type="password"]
	background #FFF
	border 1px solid #B8B8B8
	border-radius 4px
	box-shadow -1px 2px 2px rgba(0, 0, 0, 0.2) inset
	color #333
	font-family family1
	font-size 14px
	height 22px
	line-height 22px
	padding 4px 8px
select
	border 1px solid #B8B8B8
	border-radius 4px
	box-shadow -1px 2px 2px rgba(0, 0, 0, 0.2) inset
	font-size 15px
	height 32px
	padding 5px
textarea
	border 1px solid #B8B8B8
	border-radius 4px
	box-shadow -1px 2px 2px rgba(0, 0, 0, 0.2) inset
	color #333
	font-family family1
	font-size 14px
	line-height 18px
	padding 4px 8px
	resize none