include ../../layout/jade/vars.jade

.head-adm
	h2 Mis Avisos de Baja
	form(id="frmSearch",class="filter-adm")
		.controls
			input(type="text",name="txtSearch", id="txtSearch", placeholder="Busca por Nombre del Aviso")
			label(class="vglass",for="txtSearch")
		.controls
			button(type="submit",class="btn-urb btn-small") Buscar
.opts-hadmin.row
	a(href="javascript:;",class="btn-urb", title="Eliminar Avisos") Eliminar Avisos
table.tbl-admin
	thead
		tr
			th.tdCheck
				input(id="chkAviso", name="chkAviso", type="checkbox")
			th.tdImgAds
			th.tdAds.tw241 Aviso
			th.tdRegister Registro
			th.tdExpire Caducidad
			th.tdTypPacket Tipo
			th.tdAcc3 Acciones
	tbody
		tr
			td.tdCheck
				input(id="chkAviso", name="chkAviso", type="checkbox")
			td.tdImgAds
				a(href="javascript:;", title="Urbania")
					img(src="images/1.png", alt="Urbania",width="160",height="90")
			td.tdAds.tw241
				h3
					a(href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				span.infview
					span
					| 124
			td.tdRegister 11 de Diciembre del 2013
			td.tdExpire En 5 días
			td.tdTypPacket Paquete Simple Plus
			td.tdAcc3
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons republish",href="javascript:;", title="Actualizar") actualizar
				a(class="action-icons delete",href="javascript:;", title="Eliminar") Eliminar
		tr
			td.tdCheck
				input(id="chkAviso", name="chkAviso", type="checkbox")
			td.tdImgAds
				a(href="javascript:;", title="Urbania")
					img(src="images/1.png", alt="Urbania",width="160",height="90")
			td.tdAds.tw241
				h3
					a(href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				span.infview
					span
					| 124
			td.tdRegister 11 de Marzo del 2013
			td.tdExpire En 5 días
			td.tdTypPacket Paquete Simple
			td.tdAcc3
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons republish",href="javascript:;", title="Actualizar") actualizar
				a(class="action-icons delete",href="javascript:;", title="Eliminar") Eliminar
		tr
			td.tdCheck
				input(id="chkAviso", name="chkAviso", type="checkbox")
			td.tdImgAds
				a(href="javascript:;", title="Urbania")
					img(src="images/1.png", alt="Urbania",width="160",height="90")
			td.tdAds.tw241
				h3
					a(href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				span.infview
					span
					| 124
			td.tdRegister 11 de Marzo del 2013
			td.tdExpire En 5 días
			td.tdTypPacket Paquete Premium<br>
				span.infprint Al impreso el<br>21 de Marzo del 2013
			td.tdAcc3
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons republish",href="javascript:;", title="Actualizar") actualizar
				a(class="action-icons delete",href="javascript:;", title="Eliminar") Eliminar
		tr
			td.tdCheck
				input(id="chkAviso", name="chkAviso", type="checkbox")
			td.tdImgAds
				a(href="javascript:;", title="Urbania")
					img(src="images/1.png", alt="Urbania",width="160",height="90")
			td.tdAds.tw241
				h3
					a(href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				span.infview
					span
					| 124
			td.tdRegister 11 de Marzo del 2013
			td.tdExpire En 5 días
			td.tdTypPacket Paquete Simple
			td.tdAcc3
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons republish",href="javascript:;", title="Actualizar") actualizar
				a(class="action-icons delete",href="javascript:;", title="Eliminar") Eliminar
		tr
			td.tdCheck
				input(id="chkAviso", name="chkAviso", type="checkbox")
			td.tdImgAds
				a(href="javascript:;", title="Urbania")
					img(src="images/1.png", alt="Urbania",width="160",height="90")
			td.tdAds.tw241
				h3
					a(href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				span.infview
					span
					| 124
			td.tdRegister 11 de Marzo del 2013
			td.tdExpire En 5 días
			td.tdTypPacket Paquete Gold
			td.tdAcc3
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons republish",href="javascript:;", title="Actualizar") actualizar
				a(class="action-icons delete",href="javascript:;", title="Eliminar") Eliminar
		tr
			td.tdCheck
				input(id="chkAviso", name="chkAviso", type="checkbox")
			td.tdImgAds
				a(href="javascript:;", title="Urbania")
					img(src="images/1.png", alt="Urbania",width="160",height="90")
			td.tdAds.tw241
				h3
					a(href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				span.infview
					span
					| 124
			td.tdRegister 11 de Marzo del 2013
			td.tdExpire En 5 días
			td.tdTypPacket Paquete Simple
			td.tdAcc3
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons republish",href="javascript:;", title="Actualizar") actualizar
				a(class="action-icons delete",href="javascript:;", title="Eliminar") Eliminar
a(class="btn-vermas", href="javascript:;", title="Ver más Avisos") Ver más Avisos

