.head-ads
	h2.nofloat Mis Avisos Activos
	form(id="frmSearch",class="search-titems")
		.controls
			input(type="text",name="txtSearch", id="txtSearch", placeholder="Busca por Nombre del Aviso")
		.controls
			button(type="submit",class="btn-urb btn-small") Buscar
table.table
	thead
		tr
			th.tw160 
			th.tw260 Aviso
			th.tw140 Registro
			th.tw90 Caducidad
			th.tw140 Tipo
			th.tw90 Acciones
	tbody
		tr
			td.tw160
				a(href="javascript:;", title="Urbania")
					img(src="/img/1.png", alt="Urbania")
			td 
				h3
					a(class="lnk-green", href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				a(href="javascript:;", title="Visitas", class="numbers")
					span.numbers-ico.sight
					| 124
			td 11 de Diciembre del 2013
			td En 5 días
			td 
				| Paquete Simple Plus<br>
				a(href="javascript:;", title="Mejora tu aviso", class="lnk-green") Mejora tu aviso
			td
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons improve",href="javascript:;", title="Mejora tu Aviso") Mejora tu Aviso
				a(class="action-icons unsubscribe",href="javascript:;", title="Dar de Baja") Dar de Baja
		tr
			td.tw160
				a(href="javascript:;", title="Urbania")
					img(src="/img/1.png", alt="Urbania")
			td 
				h3
					a(class="lnk-green", href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				a(href="javascript:;", title="Visitas", class="numbers")
					span.numbers-ico.sight
					| 124
			td 11 de Marzo del 2013
			td En 5 días
			td 
				| Paquete Simple<br>
				a(href="javascript:;", title="Mejora tu aviso", class="lnk-green") Mejora tu aviso
			td
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons improve",href="javascript:;", title="Mejora tu Aviso") Mejora tu Aviso
				a(class="action-icons unsubscribe",href="javascript:;", title="Dar de Baja") Dar de Baja
		tr
			td.tw160
				a(href="javascript:;", title="Urbania")
					img(src="/img/1.png", alt="Urbania")
			td 
				h3
					a(class="lnk-green", href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				a(href="javascript:;", title="Visitas", class="numbers")
					span.numbers-ico.sight
					| 124
			td 11 de Marzo del 2013
			td En 5 días
			td
				| Paquete Premium<br>
				span.lnk-blue Al impreso el<br>21 de Marzo del 2013
			td
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons improve",href="javascript:;", title="Mejora tu Aviso") Mejora tu Aviso
				a(class="action-icons unsubscribe",href="javascript:;", title="Dar de Baja") Dar de Baja
		tr
			td.tw160
				a(href="javascript:;", title="Urbania")
					img(src="/img/1.png", alt="Urbania")
			td 
				h3
					a(class="lnk-green", href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				a(href="javascript:;", title="Visitas", class="numbers")
					span.numbers-ico.sight
					| 124
			td 11 de Marzo del 2013
			td En 5 días
			td 
				| Paquete Simple<br>
				a(href="javascript:;", title="Mejora tu aviso", class="lnk-green") Mejora tu aviso
			td
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons improve",href="javascript:;", title="Mejora tu Aviso") Mejora tu Aviso
				a(class="action-icons unsubscribe",href="javascript:;", title="Dar de Baja") Dar de Baja
		tr
			td.tw160
				a(href="javascript:;", title="Urbania")
					img(src="/img/1.png", alt="Urbania")
			td 
				h3
					a(class="lnk-green", href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				a(href="javascript:;", title="Visitas", class="numbers")
					span.numbers-ico.sight
					| 124
			td 11 de Marzo del 2013
			td En 5 días
			td
				| Paquete Gold<br>
				a(href="javascript:;", title="Mejora tu aviso", class="lnk-green") Mejora tu aviso
			td
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons improve",href="javascript:;", title="Mejora tu Aviso") Mejora tu Aviso
				a(class="action-icons unsubscribe",href="javascript:;", title="Dar de Baja") Dar de Baja
		tr
			td.tw160
				a(href="javascript:;", title="Urbania")
					img(src="/img/1.png", alt="Urbania")
			td 
				h3
					a(class="lnk-green", href="javascript:;", title="Venta de Casa en Punta Hermosa") Venta de Casa en Punta Hermosa
				a(href="javascript:;", title="Visitas", class="numbers")
					span.numbers-ico.sight
					| 124
			td 11 de Marzo del 2013
			td En 5 días
			td
				| Paquete Simple<br>
				span.lnk-blue Al impreso el<br>21 de Marzo del 2013
			td
				a(class="action-icons edit",href="javascript:;", title="Editar") editar
				a(class="action-icons improve",href="javascript:;", title="Mejora tu Aviso") Mejora tu Aviso
				a(class="action-icons unsubscribe",href="javascript:;", title="Dar de Baja") Dar de Baja
a(class="btn-vermas", href="javascript:;", title="Ver más Avisos") Ver más Avisos