- var page_title = 'Alquiler y Venta de Casas, Departamentos, Habitaciones, Casas de Playa de todo el Perú | Los Clasificados inmobiliarios de El Comercio | Urbania.clasificados.pe'
- var page_desc = 'Venta y Alquiler de Casas, departamentos en el Perú en Urbania.clasificados.pe | Los Clasificados inmobiliarios de El Comercio.'
- var page_keywords = 'Venta de casas, alquiler de casas, alquiler de departamentos, venta de departamentos, venta de terrenos, casas de playa, proyectos, inmobiliarias, constructoras, lotes y terrenos, alquiler de habitaciones, locales, oficinas, Clasificados del Peru, Clasificados Online ,Los Clasificados inmobiliarios de El Comercio'
- var page_name = 'urbania.clasificados.pe'
- var lang = 'es'
- var page_img = 'images/neoauto.gif'
- var page_fav = 'images/favicon.ico'
- var developed = 'elcomercio.pe'
- version = Math.floor((Math.random()*15)+1)

- var page_url = 'http://urbania.clasificados.pe'
- var ga_code= 'AB-CDFGHIJK-L'
- var arr2 = [0,1]
- var array1 = [1]
- var array2 = [1,2]
- var array3= [1,2,3]
- var arr4 = [0,1,2,3]
- var array4 = [1,2,3,4]
- var array5 = [1,2,3,4,5]
- var array6 = [1,2,3,4,5,6]
- var array7 = [1,2,3,4,5,6,7]
- var arr7 = [0,1,2,3,4,5,6]
- var array8 = [1,2,3,4,5,6,7,8]
- var array9 = [1,2,3,4,5,6,7,8,9]
- var array10 = [1,2,3,4,5,6,7,8,9,10]
- var array12 = [1,2,3,4,5,6,7,8,9,10,11,12]
- var array14 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
- var array15 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

//- Array Footer
- var distritos = ["Miraflores","Santiago de Surco","San Isidro","San Borja","Magdalena del Mar","San Juan de Miraflores","Chorrillos"]
- var proyect = ["Edificio Barranco 360","Puerta de Hierro","Upper Pardo 570","Arboleda Casa Club","Barranco Villa Club","Edificio Barranco 360","Puerta de Hierro"]
- var inmuebles = ["Departamento en Barranco","Casa en la Molina","Departamento Santiago de Surco","Departamento, Pueblo Libre","Departamento San Miguel","Departamento en Barranco","Casa en la Molina"]
- var indMiraflores = ["Venta de Departamento","Alquiler de Departamento","Alquiler Oficinas","Venta de Departamento amoblado","Venta de Departamento","Alquiler de Departamento","Alquiler de Departamento"]
- var indSSurco = ["Alquiler de Departamento","Venta de Departamento amoblado","Venta de Departamento","Alquiler de Departamento","Venta de Departamento estreno","Alquiler de Departamento","Alquiler de Oficina"]
- var indSIsidro = ["Alquiler de Departamento","Alquiler de Oficina con terraza","Venta de Departamento","Alquiler de Departamento","Alquiler de Departamento temporal","Venta de Departamento","Alquiler de Departamento"]
- var indMolina = ["Venta de Casa","Alquiler de Casa temporal","Alquiler Oficinas","Venta de Casa","Alquiler de Departamento","Alquiler de Local para recepciones","Venta de departamento"]
- var indSBorja = ["Venta de Departamento estreno","Alquiler de Oficina","Alquiler de Departamento","Alquiler de Departamento temporal","Alquiler de Departamento","Venta de Casa","Venta de Casa"]
- var indMagdalena = ["Alquiler de Departamento","Alquiler de Oficina","Alquiler de Departamento amoblado","Alquiler de Departamento","Venta de Casa","Venta de Departamento","Alquiler de departamento estreno"]