/**
* Contents Section
* @class Contents
* @module base.css
*/
.box-center
	margin 0 auto
	width 940px
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.w980
	width 980px
	margin 0 auto
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.content-baner
	margin 10px auto 0
	width 960px
.row
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
#wrapper
	margin 20px auto 0
	padding-bottom 75px
	position relative
	width 940px