<input type="checkbox" title="Seleccionar">
<div class="mlist-head"><h2>{{remitente}} <a class="icon-detasq {{#if destacado}}act{{/if}}" title="Destacar" href="javascript:;"></a></h2>
<time>{{hora}}</time></div>
<p>{{titulo}}</p>