<div class="head-adm">
  <h2 class="mb10">Mensajes</h2>
  <form class="filter-adm" id="frmSearch" onsubmit="return false;">
    <div class="controls">
      <input type="text" placeholder="Busca Mensaje" id="txtSearch" name="txtSearch">
      <label class="vglass" for="txtSearch"></label>
    </div>
    <div class="controls">
      <button id="btnSearch" class="btn-urb btn-small" type="button" title="Buscar">Buscar</button>
    </div>
  </form>
</div>
<div class="opts-hadmin row">
  <div class="box-left">
    <div class="btn-group">
      <a class="dropdown-toggle" href="javascript:;">
        <input type="checkbox" id="chkSelect" name="chkSelect"><span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="javascript:;">Todo</a></li>
        <li><a href="javascript:;">Nada</a></li>
        <li><a href="javascript:;">Leído</a></li>
        <li><a href="javascript:;">No Leído</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <a class="dropdown-toggle" href="javascript:;"><span class="icon-filter"></span><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="javascript:;">No leídos</a></li>
        <li><a href="javascript:;">Leídos</a></li>
        <li><a href="javascript:;">Importantes</a></li>
      </ul>
    </div>
    <a class="btn-gray" title="Exportar a Excel" href="javascript:;">Actualizar</a>
    <a class="btn-gray" title="Marcar como no leídos" href="javascript:;">No Leídos</a>
    <a class="btn-gray" title="Marcar como leídos" href="javascript:;">Leídos</a>
  </div>
  <div class="box-rigth mail-paginator"></div>
</div>
<div class="row">
  <div class="grids-4 ctn-listmail">
    <div class="ml-paginator"></div>
    <div class="row">
      <ul id="divListMail" class="ml-list"></ul>
      <div class="mlscroll"></div>
    </div>
  </div>
  <div id="divDetMail" class="grids-8"></div>
</div>