<div class="mail-title">
    <h1>Venta de Casa en Santiago de Surco<span>&nbsp;(hace 1 día)</span></h1>
    <address>Av. Benavides 4520 Dep 501A</address>
</div>
<div class="mail-opt">
  <a class="icon-favorite" href="javascript:;" title="Destacar correo"></a>
  <a class="icon-impress" href="javascript:;" title="Imprimir"></a>
</div>
  
