<!-- la clase act en la capa hace que sea el actual leyendose -->
{{debug}}
<div class="mail-el">
    <div class="mlel-head">
      <div class="mlel-title">
        <h2>Blanca Nieves</h2>
        <time>14 abr (hace 3 días)</time>
      </div>
      <p class="mlel-excerpt">Venta de Casa en Santiago de Surco</p>
      <dl class="mlel-address">
        <dt>De:</dt>
        <dd>Luis Felipe Santisteban (lsantisteban@elcomercio.com.pe)  Tel: 987654321 / 987321645</dd>
        <dt>Para:</dt>
        <dd>Dennis Pozo</dd>
      </dl>
    </div>
    <div class="mlel-msg">
      <p>Inversiones y Construcciones El Derby S.A.C. le ayudará a vender su propiedad en el menor tiempo y al mejor precio. Tenemos una amplia cartera de clientes. Gerente General: Mariela Balbi. Código Agente Inmob: PN-3216. RUC: 20123456789.</p>
    </div>
</div>
