<form>
  <p>Responder:</p>
  <textarea id="txtCompose" name="txtCompose"></textarea>
  <div class="controls">
    <button class="btn-urb" id="btnSendMsg">Enviar</button>
    <button class="btn-gray" id="btnAttachMsg">Adjuntar Archivo</button>
  </div>
</form>
