<li class="mlist-el">
  <input type="checkbox">
  <div class="mlist-head">
    <h2>Blanca Nieves<a class="icon-detasq act" title="destacar" href="javascript:;"></a></h2>
    <time>10:47 am</time>
  </div>
  <p>Venta de Casa en Santiago de Surco</p>
</li>
<li class="mlist-el act">
  <input type="checkbox">
  <div class="mlist-head">
    <h2>Blanca Nieves<a class="icon-detasq" title="destacar" href="javascript:;"></a></h2>
    <time>10:47 am</time>
  </div>
  <p>Venta de Casa en Santiago de Surco</p>
  <p class="mlist-attach"><span></span>propuesta.pdf</p>
</li>
<li class="mlist-el ml-read">
  <input type="checkbox">
  <div class="mlist-head">
    <h2>Blanca Nieves<a class="icon-detasq" title="destacar" href="javascript:;"></a></h2>
    <time>10:47 am</time>
  </div>
  <p>Venta de Casa en Santiago de Surco</p>
</li>
<li class="mlist-el ml-read">
  <input type="checkbox">
  <div class="mlist-head">
    <h2>Blanca Nieves<a class="icon-detasq" title="destacar" href="javascript:;"></a></h2>
    <time>10:47 am</time>
  </div>
  <p>Venta de Casa en Santiago de Surco</p>
</li>
<li class="mlist-el ml-read">
  <input type="checkbox">
  <div class="mlist-head">
    <h2>Blanca Nieves<a class="icon-detasq" title="destacar" href="javascript:;"></a></h2>
    <time>10:47 am</time>
  </div>
<p>Venta de Casa en Santiago de Surco</p>
</li>
<li class="mlist-el ml-read">
  <input type="checkbox">
  <div class="mlist-head">
    <h2>Blanca Nieves<a class="icon-detasq" title="destacar" href="javascript:;"></a></h2>
    <time>10:47 am</time>
  </div>
  <p>Venta de Casa en Santiago de Surco</p>
</li>
<li class="mlist-el ml-read">
  <input type="checkbox">
  <div class="mlist-head">
    <h2>Blanca Nieves<a class="icon-detasq" title="destacar" href="javascript:;"></a></h2>
    <time>10:47 am</time>
  </div>
  <p>Venta de Casa en Santiago de Surco</p>
</li>
<li class="mlist-el ml-read">
  <input type="checkbox">
  <div class="mlist-head">
    <h2>Blanca Nieves<a class="icon-detasq" title="destacar" href="javascript:;"></a></h2>
    <time>10:47 am</time>
  </div>
  <p>Venta de Casa en Santiago de Surco</p>
</li>
<li class="mlist-el ml-read">
  <input type="checkbox">
  <div class="mlist-head">
    <h2>Blanca Nieves<a class="icon-detasq" title="destacar" href="javascript:;"></a></h2>
    <time>10:47 am</time>
  </div>
  <p>Venta de Casa en Santiago de Surco</p>
</li>