/**
* Portada Section
* @class Agente Tienda
* @module portada.css
*/
.head-ads
	background #E2E3E5 url(routImg+"bg-hads.png") repeat-x
	border-bottom 1px solid #E0E0E0
	padding 18px 0 16px
	.hads-img
		float left
		img
			display block
			height 124px
			width 220px
	.hads-content
		float left
		margin-left 20px
		width 450px
	.hads-title
		float left
		width 260px
		h1
			font-size 16px
			margin-bottom 4px
			text-transform uppercase
		a
			display block
	.hads-certif
		float left
		margin-left 10px
		width 170px
	.hads-descr
		clear both
		color #666
		font-size 12px
		line-height 14px
		margin 0
		padding 6px 0 10px
	.hads-lnk
		float right
		padding-top 38px
		width 220px
		a
			display block
			margin-left 0
			padding 6px 20px
		.btn-urb
			margin-bottom 10px
		.btn-gray
			padding 6px 20px
			text-align center
	.hads-reviews
		.for-rating
			float left
			margin 0 0 0 45px