@media print
	#property_bar
	.top-gec
	.breadcrumb
	#header
	#noprint
	#contactar
	.for-rating
	.fot-decor
	#footer
	#peruid_modal
	.see-also
		display none
	#wrapper
		max-width 700px
	.head-property
		width 700px
	.btn-urb, .btn-gray
		text-shadow none
	/**.saltopagina
		display block
		page-break-before always*/
@page
	size A4 portrait
@page :first 
	margin-top: 4cm