div#urlVideoView
	a(href="http://www.youtube.com/watch?v={{vid}}", target="_blank", title="{{title}}")
		img(alt="{{title}}", data-src="{{preview}}", width="{{width}}", height="{{height}}")
	a(href="http://www.youtube.com/watch?v={{vid}}", target="_blank", title="{{title}}") {{title}}
	a(class="remove",href="javascript:;", title="Eliminar") Eliminar